/* ------ VARIABLES ------ */
/* ------ MIXINS ------ */
/* ------ CUSTOM ------ */
body {
  font-family: "Open Sans", sans-serif;
  background-color: #ececec;
  margin: 0;
  padding: 0;
  height: 100%;
}

/*
    SHOP CSS
*/
.main-wrapper {
  margin: 0;
  padding: 0;
  /* 
        HEADER
    */
  /*
        END OF HEADER
    */
  /* 
        CONTENT
    */
  /*
        END OF CONTENT
    */
  /*
        FOOTER
    */
  /*
        END OF FOOTER
    */
}

.main-wrapper .header-wrapper .offer {
  text-align: center;
  background-color: #fff;
  color: #121212;
  font-family: "Arimo", sans-serif;
  font-size: 0.8rem;
  padding: 10px;
}

.main-wrapper .header-wrapper .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0;
}

.main-wrapper .header-wrapper .navbar.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1020;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 30px;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .navbar-brand {
  width: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .navbar-brand .img {
  width: 100%;
  height: auto;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .search {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 80%;
  position: relative;
  /*
                        MODAL SEARCH
                    */
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .search #search-bar {
  width: 100%;
  border: 1px solid #b10909;
  border-radius: 5px;
  padding-top: 5px;
  padding-right: 25px;
  padding-bottom: 5px;
  padding-left: 12px;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .search i {
  position: absolute;
  right: 0;
  top: 0px;
  background-color: #b10909;
  color: #fff;
  border-radius: 0 5px 5px 0;
  padding: 10px;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .search .modal-search {
  display: none;
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 999;
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  padding: 5px;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .search .modal-search .modal-wrapper .modal-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .search .modal-search .modal-wrapper .modal-content-wrapper .form-search {
  width: 100%;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .search .modal-search .modal-wrapper .modal-content-wrapper .form-search .modal-link {
  margin: 5px 0;
  text-decoration: none;
  color: #272727;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .search .modal-search .modal-wrapper .modal-content-wrapper .form-search .modal-link img {
  width: 30px;
  height: auto;
  margin-right: 10px;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .search .modal-search .modal-wrapper .modal-content-wrapper .form-search .modal-link:hover {
  background-color: #ececec;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .search .modal-search .modal-wrapper .modal-content-wrapper .form-search .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .login-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  position: relative;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .login-cart .fas {
  font-size: 2.5rem;
  cursor: pointer;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .login-cart .fas-logged {
  color: #b10909;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .login-cart .login {
  margin-right: 20px;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .login-cart .login .modal-logging {
  display: none;
  position: absolute;
  top: 51px;
  right: 64px;
  z-index: 99;
  background-color: #fff;
  padding: 8px 10px;
  border: 1px solid #ececec;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  color: #272727;
  text-transform: none;
  font-size: 0.8rem;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .login-cart .login .modal-logging :after {
  content: "";
  position: absolute;
  left: 389px;
  top: -16px;
  border: 8px solid transparent;
  border-bottom: 8px solid white;
  bottom: auto;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .login-cart .login .modal-logging .left, .main-wrapper .header-wrapper .navbar .principal-wrapper .login-cart .login .modal-logging .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  padding: 10px;
  width: 200px;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .login-cart .login .modal-logging .left {
  border-right: 1px solid #ececec;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .login-cart .login .modal-logging form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  padding: 10px 0;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .login-cart .login .modal-logging form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  width: auto;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .login-cart .login .modal-logging strong {
  font-size: 0.8rem;
  font-weight: 600;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .login-cart .login .modal-logging .input-form {
  padding: 5px;
  margin-bottom: 5px;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .login-cart .login .modal-logging .input-form.checked {
  border-bottom: 3px solid #14A76C;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .login-cart .login .modal-logging .input-form.unchecked {
  border-bottom: 3px solid red;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .login-cart .login .modal-logging .input-form.wrong-pass {
  border: 2px solid red;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .login-cart .login .modal-logging .input-form:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .login-cart .login .modal-logging #pass, .main-wrapper .header-wrapper .navbar .principal-wrapper .login-cart .login .modal-logging #phone-reg {
  margin-bottom: 10px;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .login-cart .login .modal-logging .label-form {
  font-size: 0.8rem;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .login-cart .login .modal-logging #error-loggin {
  margin-bottom: 10px;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .login-cart .login .modal-logging .forgot-pass a {
  text-decoration: none;
  color: #b10909;
  font-size: 0.7rem;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .login-cart .login .modal-logging .btn-original:disabled {
  background-color: #717171;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .login-cart .login .modal-logging-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .login-cart .login .modal-logged {
  display: none;
  position: absolute;
  width: 205px;
  top: 51px;
  right: 64px;
  z-index: 99;
  background-color: #fff;
  padding: 8px 10px;
  border: 1px solid #ececec;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  color: #272727;
  text-transform: none;
  font-size: 0.8rem;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .login-cart .login .modal-logged :after {
  content: "";
  position: absolute;
  left: 172px;
  top: -16px;
  border: 8px solid transparent;
  border-bottom: 8px solid white;
  bottom: auto;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .login-cart .login .modal-logged .name-nav-log {
  color: #717171;
  border-color: #ececec;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .login-cart .login .modal-logged .nav-item {
  color: #272727;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .login-cart .login .modal-logged .nav-item .nav-link {
  color: #272727;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .login-cart .login .modal-logged .nav-item .nav-link .fas {
  font-size: 1rem;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .login-cart .login .modal-logged .nav-item .nav-link:hover {
  color: #fff;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .login-cart .login .modal-logged .nav-item:hover {
  background-color: #b10909;
  opacity: 0.5;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .login-cart .login .modal-logged .submit-button {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  font-size: 0.8rem;
  text-decoration: none;
  border: none;
  padding: 10px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #b10909;
  color: #fff;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .login-cart .login .modal-logged .submit-button .fas {
  font-size: 1rem;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .login-cart .login .modal-logged .modal-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-size: 1rem;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .login-cart .login .modal-logged .modal-close .submit-button {
  font-size: 0.8rem;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .login-cart .cart {
  position: relative;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .login-cart .cart .cart-link {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 51px;
  text-decoration: none;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .login-cart .cart .cart-link .fas {
  font-size: 1.8rem;
  cursor: default;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .login-cart .cart .cart-link #total-items {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  right: 0;
  background-color: #b10909;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: 900;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .login-cart .cart .modal-cart-resume {
  display: none;
  position: absolute;
  width: 350px;
  top: 51px;
  right: -12px;
  z-index: 99;
  background-color: #fff;
  padding: 8px 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #ececec;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  color: #272727;
  text-transform: none;
  font-size: 0.8rem;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .login-cart .cart .modal-cart-resume:after {
  content: "";
  position: absolute;
  left: 309px;
  top: -16px;
  border: 8px solid transparent;
  border-bottom: 8px solid white;
  bottom: auto;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .login-cart .cart .modal-cart-resume .cart-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  position: relative;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .login-cart .cart .modal-cart-resume .cart-row .left-wrapper {
  width: 50px;
  margin-right: 15px;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .login-cart .cart .modal-cart-resume .cart-row .center-wrapper .cart-product-name {
  color: #b10909;
  font-size: 0.9rem;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .login-cart .cart .modal-cart-resume .cart-row .center-wrapper .options-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  font-size: 0.6rem;
  font-weight: 100;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .login-cart .cart .modal-cart-resume .cart-row .right-wrapper {
  position: absolute;
  right: 0;
  font-size: 1rem;
  font-weight: 600;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .login-cart .cart .modal-cart-resume .cart-total-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-size: 1rem;
  margin-top: 5px;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .login-cart .cart .modal-cart-resume .cart-total-wrapper a .btn-buy-modal {
  padding: 10px 15px;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .login-cart .cart .modal-cart-resume .cart-total-wrapper .cart-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
}

.main-wrapper .header-wrapper .navbar .principal-wrapper .login-cart .cart .modal-cart-resume .cart-total-wrapper .cart-total span:first-child {
  font-size: 0.8rem;
  margin-right: 5px;
}

.main-wrapper .header-wrapper .navbar .secondary-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #fff;
}

.main-wrapper .header-wrapper .navbar .secondary-wrapper .navbar-collapse .navbar-nav {
  width: 100%;
}

.main-wrapper .header-wrapper .navbar .secondary-wrapper .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #272727;
  border-radius: 0;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.main-wrapper .header-wrapper .navbar .secondary-wrapper .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  background-color: #df3e3e;
  color: #fff;
}

.main-wrapper .header-wrapper .navbar .secondary-wrapper .navbar-collapse .navbar-nav .nav-item.active .nav-link {
  background-color: #b10909;
  color: #fff;
}

.main-wrapper .content-wrapper {
  margin: 0;
  padding: 0;
  min-height: calc(100vh - 435px);
  /* 
            CONTENT SINGLE PAGE (HOME)
        */
  /* 
            END OF CONTENT SINGLE PAGE (HOME)
        */
  /*
            PAGE WITH SIDEBAR LEFT
        */
  /*
            END OF PAGE WITH SIDEBAR LEFT
        */
  /*
            SINGLE PRODUCT PAGE
        */
  /*
            END OF SINGLE PRODUCT PAGE
        */
  /*
            ORDER PRODUCT DETAIL PAGE
        */
  /*
            END OF ORDER PRODUCT DETAIL PAGE
        */
  /*
            ORDER PRODUCT AND DATA PAGE
        */
  /*
            END OF ORDER PRODUCT AND DATA PAGE
        */
  /*
            CART DETAIL PAGE
        */
  /*
            END OF CART DETAIL PAGE
        */
  /*
            CHECKOUT PAGE
        */
  /*
            ENF OF CHECKOUT PAGE
        */
  /* 
            CART SUCCESS MESSAGE PAGE
        */
  /* 
            END OF CART SUCCESS MESSAGE PAGE
        */
}

.main-wrapper .content-wrapper #carouselBanner .carousel-inner .carousel-item .carousel-caption {
  top: 0;
}

.main-wrapper .content-wrapper #carouselBanner .carousel-inner .carousel-item .carousel-caption .banner-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  line-height: 1;
}

.main-wrapper .content-wrapper #carouselBanner .carousel-inner .carousel-item .carousel-caption .banner-text .banner-logo {
  width: 50%;
  margin-bottom: 25px;
}

.main-wrapper .content-wrapper #carouselBanner .carousel-inner .carousel-item .carousel-caption .banner-text .banner-subheader {
  color: #b10909;
  font-size: 2rem;
}

.main-wrapper .content-wrapper #carouselBanner .carousel-inner .carousel-item .carousel-caption .banner-text .banner-header {
  color: #fff;
  font-size: 3rem;
  margin-bottom: 15px;
}

.main-wrapper .content-wrapper #carouselBanner .carousel-inner .carousel-item .carousel-caption .banner-text .banner-btn {
  font-size: 2rem;
  text-decoration: none;
  padding: 10px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #b10909;
  color: #fff;
  margin-left: 420px;
}

.main-wrapper .content-wrapper .main-container-home .features .list-features {
  margin: 0;
  padding: 0;
}

.main-wrapper .content-wrapper .main-container-home .features .list-features .items {
  position: relative;
  list-style: none;
  padding: 0px;
}

.main-wrapper .content-wrapper .main-container-home .features .list-features .items a .feature-top {
  width: 100%;
}

.main-wrapper .content-wrapper .main-container-home .features .list-features .items a .feature-bottom {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  cursor: pointer;
}

.main-wrapper .content-wrapper .main-container-home .features .list-features .items a .feature-bottom:hover {
  opacity: 0;
}

.main-wrapper .content-wrapper .sidebar-left .filter-text {
  border-bottom: 1px solid #ececec;
  letter-spacing: 0.2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.main-wrapper .content-wrapper .container-product {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 25px;
  margin-bottom: 25px;
}

.main-wrapper .content-wrapper .container-product .card-deck {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-wrapper .content-wrapper .container-product .card-deck .card-wrapper {
  padding: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-wrapper .content-wrapper .container-product .card-deck .card-wrapper .card-item {
  position: relative;
  padding: 5px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 15px 28px -22px #121212;
  box-shadow: 0px 15px 28px -22px #121212;
}

.main-wrapper .content-wrapper .container-product .card-deck .card-wrapper .card-item .card-title {
  color: #121212;
  padding: 20px;
  height: 135px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.main-wrapper .content-wrapper .container-product .card-deck .card-wrapper .card-item .card-title .price-corner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bolder;
  font-size: 24px;
}

.main-wrapper .content-wrapper .container-product .card-deck .card-wrapper .card-item .card-title span {
  font-size: 1rem;
  font-weight: 100;
}

.main-wrapper .content-wrapper .container-product .card-deck .card-wrapper .card-item .card-title hr {
  border: 0;
  height: 3px;
  width: 30px;
  background-color: #b10909;
  margin: 10px 0 40px;
}

.main-wrapper .content-wrapper .container-product .card-deck .card-wrapper .card-item .card-title hr.hr-size {
  margin-bottom: 10px;
}

.main-wrapper .content-wrapper .container-product .card-deck .card-wrapper .card-item .card-title .size-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 30px;
  padding: 0;
}

.main-wrapper .content-wrapper .container-product .card-deck .card-wrapper .card-item .card-title .size-group .size-group-item {
  list-style-type: none;
  padding: 5px 10px;
  width: 50px;
  margin-right: 3px;
  height: auto;
  border: 1px solid #121212;
  text-align: center;
  font-size: 13px;
  color: #121212;
}

.main-wrapper .content-wrapper .container-product .card-deck .card-wrapper .card-item .btn-card {
  display: inline-block;
  position: absolute;
  bottom: -20px;
  right: -10px;
  color: #fff;
  text-align: center;
  padding: 0.75em 1.5em;
  white-space: nowrap;
  border-radius: 5px;
  background-color: #b10909;
  border: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.main-wrapper .content-wrapper .container-product .card-deck .card-wrapper .card-item .btn-card:hover {
  background-color: #df3e3e;
}

.main-wrapper .content-wrapper .container-product .card-deck .card-wrapper .card-item .btn-card:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main-wrapper .content-wrapper .container-product .card-deck .card-wrapper .card-item .btn-stock {
  display: inline-block;
  position: absolute;
  bottom: -20px;
  right: -10px;
  color: #fff;
  text-align: center;
  padding: 0.75em 1.5em;
  white-space: nowrap;
  border-radius: 5px;
  background-color: #717171;
  cursor: initial;
  border: none;
}

.main-wrapper .content-wrapper .container-product-single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  padding: 25px 0;
}

.main-wrapper .content-wrapper .container-product-single .image-wrapper {
  margin-right: 25px;
}

.main-wrapper .content-wrapper .container-product-single .details-wrapper .title {
  margin-bottom: 25px;
}

.main-wrapper .content-wrapper .container-product-single .details-wrapper .title h1 {
  margin: 0;
}

.main-wrapper .content-wrapper .container-product-single .details-wrapper .title h2 {
  font-size: 1rem;
  color: #717171;
}

.main-wrapper .content-wrapper .container-product-single .details-wrapper .title span {
  font-size: 0.8rem;
  color: #717171;
}

.main-wrapper .content-wrapper .container-product-single .details-wrapper .price {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.main-wrapper .content-wrapper .container-product-single .details-wrapper .size {
  margin-bottom: 15px;
}

.main-wrapper .content-wrapper .container-product-single .details-wrapper .size span {
  color: #717171;
  font-size: 0.9rem;
}

.main-wrapper .content-wrapper .container-product-single .details-wrapper .size .radio-button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-wrapper .content-wrapper .container-product-single .details-wrapper .size .radio-button-wrapper .b-contain {
  margin-right: 10px;
  margin-bottom: 0;
}

.main-wrapper .content-wrapper .container-product-single .details-wrapper .size .radio-button-wrapper .b-contain span {
  color: #272727;
  font-size: 1rem;
}

.main-wrapper .content-wrapper .container-product-single .details-wrapper .size .radio-button-wrapper .size-message {
  display: none;
  position: relative;
  font-size: .8rem;
  margin-left: 15px;
  padding: 2px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #272727;
  color: #fff;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.main-wrapper .content-wrapper .container-product-single .details-wrapper .size .radio-button-wrapper .size-message:after {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  left: -16px;
  top: 4px;
  background-color: transparent;
  border: 8px solid transparent;
  border-right: 8px solid #272727;
  bottom: auto;
}

.main-wrapper .content-wrapper .container-product-single .details-wrapper .cart-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.main-wrapper .content-wrapper .container-product-single .details-wrapper .cart-wrapper .quantity-wrapper {
  margin-right: 10px;
}

.main-wrapper .content-wrapper .container-product-single .details-wrapper .cart-wrapper .quantity-wrapper .quantity-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-wrapper .content-wrapper .container-product-single .details-wrapper .cart-wrapper .quantity-wrapper .quantity-number #minus, .main-wrapper .content-wrapper .container-product-single .details-wrapper .cart-wrapper .quantity-wrapper .quantity-number #plus {
  padding: 0 5px;
  background-color: #272727;
  color: #fff;
  border: 3px solid #272727;
  width: 25px;
  text-align: center;
  cursor: pointer;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main-wrapper .content-wrapper .container-product-single .details-wrapper .cart-wrapper .quantity-wrapper .quantity-number #quantity {
  width: 30px;
  text-align: center;
}

.main-wrapper .content-wrapper .container-product-single .details-wrapper .cart-wrapper .quantity-wrapper .quantity-number input::-webkit-outer-spin-button,
.main-wrapper .content-wrapper .container-product-single .details-wrapper .cart-wrapper .quantity-wrapper .quantity-number input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.main-wrapper .content-wrapper .container-product-single .details-wrapper .cart-wrapper .quantity-wrapper .quantity-number input[type=number] {
  -moz-appearance: textfield;
}

.main-wrapper .content-wrapper .container-product-single .details-wrapper .cart-wrapper .quantity-wrapper .quantity-number .btn {
  margin-left: 10px;
}

.main-wrapper .content-wrapper .container-product-single .details-wrapper .cart-wrapper .quantity-wrapper .quantity-number .btn:hover {
  color: #fff;
  background-color: #df3e3e;
}

.main-wrapper .content-wrapper .container-product-single .details-wrapper .stock-wrapper {
  margin-bottom: 25px;
  color: #717171;
  font-size: 0.8rem;
}

.main-wrapper .content-wrapper .container-product-single .details-wrapper .description h3 {
  font-size: 1.5rem;
  border-bottom: 1px solid #b10909;
  padding-bottom: 1rem;
}

.main-wrapper .content-wrapper .container-product-single .notifications-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 600px;
  display: none;
  background-color: #fff;
  height: 100px;
  position: fixed;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border: 1px solid #717171;
  border-top: 5px solid #14A76C;
  border-radius: 5px;
  -webkit-animation-name: notificationsUp;
          animation-name: notificationsUp;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  z-index: 99999;
}

.main-wrapper .content-wrapper .container-order-details {
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-wrapper .content-wrapper .container-order-details h2 {
  text-align: center;
  margin: 0;
  padding: 10px 0;
  background-color: #b10909;
  color: #fff;
  border-radius: 5px 5px 0 0;
}

.main-wrapper .content-wrapper .container-order-details .order-wrapper {
  background-color: #fff;
  padding: 15px;
  border-radius: 0 0 5px 5px;
}

.main-wrapper .content-wrapper .container-order-details .order-wrapper .table tbody tr td {
  width: 100px;
}

.main-wrapper .content-wrapper .container-order-details .order-wrapper .table tbody tr td .order-img {
  width: 60px;
  height: auto;
  border-radius: 5px;
}

.main-wrapper .content-wrapper .container-order-details .order-wrapper .table tbody tr td .fas {
  color: #b10909;
  font-size: 2rem;
}

.main-wrapper .content-wrapper .container-order-details .order-wrapper .table tbody tr .bg-total {
  background-color: #717171;
}

.main-wrapper .content-wrapper .container-orders {
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-wrapper .content-wrapper .container-orders h2 {
  text-align: center;
  margin: 0;
  padding: 10px 0;
  background-color: #b10909;
  color: #fff;
  border-radius: 5px 5px 0 0;
}

.main-wrapper .content-wrapper .container-orders .order-wrapper {
  background-color: #fff;
  padding: 15px;
  border-radius: 0 0 5px 5px;
}

.main-wrapper .content-wrapper .container-orders .order-wrapper .row {
  margin-bottom: 20px;
}

.main-wrapper .content-wrapper .container-orders .order-wrapper .row .card {
  -webkit-box-shadow: 0px 15px 28px -22px #121212;
  box-shadow: 0px 15px 28px -22px #121212;
  background-color: linen;
}

.main-wrapper .content-wrapper .container-orders .order-wrapper .row .card .card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.main-wrapper .content-wrapper .container-orders .order-wrapper .row .card .card-wrapper .card-left, .main-wrapper .content-wrapper .container-orders .order-wrapper .row .card .card-wrapper .card-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: auto;
  text-align: left;
}

.main-wrapper .content-wrapper .container-orders .order-wrapper .row .card .card-wrapper .card-body {
  height: 75px;
  width: 100%;
}

.main-wrapper .content-wrapper .container-orders .order-wrapper .row .card .btn-change-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
}

.main-wrapper .content-wrapper .container-cart {
  padding: 10px;
}

.main-wrapper .content-wrapper .container-cart h2 {
  text-align: center;
  margin: 0;
  padding: 10px 0;
  background-color: #b10909;
  color: #fff;
  border-radius: 5px 5px 0 0;
}

.main-wrapper .content-wrapper .container-cart .cart-wrapper {
  background-color: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 0px 15px 28px -22px #121212;
  box-shadow: 0px 15px 28px -22px #121212;
}

.main-wrapper .content-wrapper .container-cart .cart-wrapper .cart-empty {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.main-wrapper .content-wrapper .container-cart .cart-wrapper .cart-form:first-child {
  border-top: 1px solid #ddd;
}

.main-wrapper .content-wrapper .container-cart .cart-wrapper .cart-form .cart-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  position: relative;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.main-wrapper .content-wrapper .container-cart .cart-wrapper .cart-form .cart-row .left-wrapper {
  width: 100px;
  margin-right: 15px;
}

.main-wrapper .content-wrapper .container-cart .cart-wrapper .cart-form .cart-row .center-wrapper .cart-product-name {
  color: #b10909;
  font-size: 1.3rem;
}

.main-wrapper .content-wrapper .container-cart .cart-wrapper .cart-form .cart-row .center-wrapper .options-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  font-size: 0.8rem;
  font-weight: 100;
}

.main-wrapper .content-wrapper .container-cart .cart-wrapper .cart-form .cart-row .center-wrapper .btn-cart-remove {
  background-color: #ddd;
  font-size: 0.7rem;
  padding: 5px;
  font-weight: 100;
  position: absolute;
  bottom: 15px;
  color: #272727;
}

.main-wrapper .content-wrapper .container-cart .cart-wrapper .cart-form .cart-row .center-wrapper .btn-cart-remove:hover {
  background-color: #717171;
  color: #fff;
}

.main-wrapper .content-wrapper .container-cart .cart-wrapper .cart-form .cart-row .right-wrapper {
  position: absolute;
  right: 0;
  font-size: 1.2rem;
  font-weight: 600;
}

.main-wrapper .content-wrapper .container-cart .cart-wrapper .cart-buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 5px;
}

.main-wrapper .content-wrapper .container-cart .cart-wrapper .cart-buy .cart-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}

.main-wrapper .content-wrapper .container-cart .cart-wrapper .cart-buy .cart-total .cart-total-sum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.main-wrapper .content-wrapper .container-cart .cart-wrapper .cart-buy .cart-total .cart-total-sum span {
  font-size: 1.3rem;
}

.main-wrapper .content-wrapper .container-cart .cart-wrapper .cart-buy .cart-total .cart-total-sum span:first-child {
  margin-right: 10px;
}

.main-wrapper .content-wrapper .container-cart .cart-wrapper .cart-buy .cart-total span {
  font-size: 0.8rem;
}

.main-wrapper .content-wrapper .container-cart .cart-wrapper .cart-buy .btn-buy-wrapper .btn-buy {
  font-size: 2rem;
  text-transform: inherit;
}

.main-wrapper .content-wrapper .container-checkout {
  padding: 10px;
}

.main-wrapper .content-wrapper .container-checkout h2 {
  text-align: center;
  margin: 0;
  padding: 10px 0;
  background-color: #b10909;
  color: #fff;
  border-radius: 5px 5px 0 0;
}

.main-wrapper .content-wrapper .container-checkout .checkout-wrapper {
  background-color: #fff;
  padding: 15px;
  border-radius: 0 0 5px 5px;
}

.main-wrapper .content-wrapper .container-checkout .checkout-wrapper .order-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.main-wrapper .content-wrapper .container-checkout .checkout-wrapper .order-wrapper .checkout-empty {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  width: 100%;
}

.main-wrapper .content-wrapper .container-checkout .checkout-wrapper .order-wrapper .wrapper-left, .main-wrapper .content-wrapper .container-checkout .checkout-wrapper .order-wrapper .wrapper-right {
  width: 50%;
  margin: 0 15px;
}

.main-wrapper .content-wrapper .container-checkout .checkout-wrapper .order-wrapper .data-wrapper, .main-wrapper .content-wrapper .container-checkout .checkout-wrapper .order-wrapper .cart-wrapper {
  border-radius: 5px;
}

.main-wrapper .content-wrapper .container-checkout .checkout-wrapper .order-wrapper .data-wrapper .inside-wrapper, .main-wrapper .content-wrapper .container-checkout .checkout-wrapper .order-wrapper .data-wrapper .data-footer, .main-wrapper .content-wrapper .container-checkout .checkout-wrapper .order-wrapper .cart-wrapper .inside-wrapper, .main-wrapper .content-wrapper .container-checkout .checkout-wrapper .order-wrapper .cart-wrapper .data-footer {
  padding: 15px 35px;
}

.main-wrapper .content-wrapper .container-checkout .checkout-wrapper .order-wrapper .data-wrapper.new-address, .main-wrapper .content-wrapper .container-checkout .checkout-wrapper .order-wrapper .cart-wrapper.new-address {
  display: none;
}

.main-wrapper .content-wrapper .container-checkout .checkout-wrapper .order-wrapper .data-wrapper .data-footer, .main-wrapper .content-wrapper .container-checkout .checkout-wrapper .order-wrapper .cart-wrapper .data-footer {
  color: #717171;
  background-color: #ececec;
}

.main-wrapper .content-wrapper .container-checkout .checkout-wrapper .order-wrapper .data-wrapper .data-footer .form-check, .main-wrapper .content-wrapper .container-checkout .checkout-wrapper .order-wrapper .cart-wrapper .data-footer .form-check {
  margin: 0;
}

.main-wrapper .content-wrapper .container-checkout .checkout-wrapper .order-wrapper .data-wrapper:first-child, .main-wrapper .content-wrapper .container-checkout .checkout-wrapper .order-wrapper .data-wrapper:nth-child(2), .main-wrapper .content-wrapper .container-checkout .checkout-wrapper .order-wrapper .cart-wrapper:first-child, .main-wrapper .content-wrapper .container-checkout .checkout-wrapper .order-wrapper .cart-wrapper:nth-child(2) {
  margin-bottom: 20px;
}

.main-wrapper .content-wrapper .container-checkout .checkout-wrapper .order-wrapper .data-wrapper h3, .main-wrapper .content-wrapper .container-checkout .checkout-wrapper .order-wrapper .cart-wrapper h3 {
  font-weight: 600;
  font-size: 1.2rem;
}

.main-wrapper .content-wrapper .container-checkout .checkout-wrapper .order-wrapper .form-control {
  background-color: #f4f4f4;
  border-color: #ececec;
}

.main-wrapper .content-wrapper .container-checkout .checkout-wrapper .order-wrapper .form-control::-webkit-input-placeholder {
  color: #ddd;
}

.main-wrapper .content-wrapper .container-checkout .checkout-wrapper .order-wrapper .form-control:-ms-input-placeholder {
  color: #ddd;
}

.main-wrapper .content-wrapper .container-checkout .checkout-wrapper .order-wrapper .form-control::-ms-input-placeholder {
  color: #ddd;
}

.main-wrapper .content-wrapper .container-checkout .checkout-wrapper .order-wrapper .form-control::placeholder {
  color: #ddd;
}

.main-wrapper .content-wrapper .container-checkout .checkout-wrapper .order-wrapper .data-wrapper {
  border: 1px solid #ececec;
}

.main-wrapper .content-wrapper .container-checkout .checkout-wrapper .order-wrapper .data-wrapper .form-group {
  margin-bottom: 0;
}

.main-wrapper .content-wrapper .container-checkout .checkout-wrapper .order-wrapper .data-wrapper .form-group div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
}

.main-wrapper .content-wrapper .container-checkout .checkout-wrapper .order-wrapper .data-wrapper .form-group div .form-control:first-child {
  margin-right: 5px;
}

.main-wrapper .content-wrapper .container-checkout .checkout-wrapper .order-wrapper .data-wrapper .form-group div .form-control:last-child {
  margin-left: 5px;
}

.main-wrapper .content-wrapper .container-checkout .checkout-wrapper .order-wrapper .data-wrapper .form-group .form-control {
  margin-bottom: 10px;
}

.main-wrapper .content-wrapper .container-checkout .checkout-wrapper .order-wrapper .data-wrapper .form-group .form-control:last-child {
  margin-bottom: none;
}

.main-wrapper .content-wrapper .container-checkout .checkout-wrapper .order-wrapper .data-wrapper.error-checkout {
  text-align: center;
}

.main-wrapper .content-wrapper .container-checkout .checkout-wrapper .order-wrapper .cart-wrapper {
  background-color: #ececec;
}

.main-wrapper .content-wrapper .container-checkout .checkout-wrapper .order-wrapper .cart-wrapper .title-wrapper, .main-wrapper .content-wrapper .container-checkout .checkout-wrapper .order-wrapper .cart-wrapper .product-wrapper, .main-wrapper .content-wrapper .container-checkout .checkout-wrapper .order-wrapper .cart-wrapper .total-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  margin-bottom: 15px;
}

.main-wrapper .content-wrapper .container-checkout .checkout-wrapper .order-wrapper .cart-wrapper .title-wrapper a, .main-wrapper .content-wrapper .container-checkout .checkout-wrapper .order-wrapper .cart-wrapper .product-wrapper a, .main-wrapper .content-wrapper .container-checkout .checkout-wrapper .order-wrapper .cart-wrapper .total-wrapper a {
  text-decoration: underline;
  color: #717171;
}

.main-wrapper .content-wrapper .container-checkout .checkout-wrapper .order-wrapper .cart-wrapper .title-wrapper a:hover, .main-wrapper .content-wrapper .container-checkout .checkout-wrapper .order-wrapper .cart-wrapper .product-wrapper a:hover, .main-wrapper .content-wrapper .container-checkout .checkout-wrapper .order-wrapper .cart-wrapper .total-wrapper a:hover {
  color: #b10909;
}

.main-wrapper .content-wrapper .container-checkout .checkout-wrapper .order-wrapper .cart-wrapper .product-wrapper {
  color: #717171;
}

.main-wrapper .content-wrapper .container-checkout .checkout-wrapper .order-wrapper .cart-wrapper .product-wrapper .details-wrapper {
  font-size: 0.9rem;
}

.main-wrapper .content-wrapper .container-checkout .checkout-wrapper .order-wrapper .cart-wrapper .total-wrapper {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  margin-bottom: 0;
}

.main-wrapper .content-wrapper .container-checkout .checkout-wrapper .order-wrapper .cart-wrapper .total-wrapper .title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: auto;
  margin: 0;
}

.main-wrapper .content-wrapper .container-checkout .checkout-wrapper .order-wrapper .cart-wrapper .total-wrapper .title-wrapper h3 {
  margin: 0;
}

.main-wrapper .content-wrapper .container-checkout .checkout-wrapper .order-wrapper .cart-wrapper .total-wrapper .title-wrapper span {
  font-size: 0.8rem;
}

.main-wrapper .content-wrapper .container-checkout .checkout-wrapper .order-wrapper .cart-wrapper .total-wrapper .total-num {
  font-weight: 600;
}

.main-wrapper .content-wrapper .container-checkout .checkout-wrapper .btn-order-wrapper {
  padding: 20px;
  margin: 20px 20px 0 20px;
  border-top: 1px solid #ddd;
}

.main-wrapper .content-wrapper .container-checkout .checkout-wrapper .btn-order-wrapper .btn-order {
  font-size: 2rem;
  text-transform: initial;
}

.main-wrapper .content-wrapper .container-cart-response {
  padding: 10px;
  text-align: center;
}

.main-wrapper .content-wrapper .container-cart-response h2 {
  text-align: center;
  margin: 0;
  padding: 10px 0;
  background-color: #b10909;
  color: #fff;
  border-radius: 5px 5px 0 0;
}

.main-wrapper .content-wrapper .container-cart-response .content-cart-wrapper {
  background-color: #fff;
  padding: 15px;
  border-radius: 0 0 5px 5px;
}

.main-wrapper .content-wrapper .container-cart-response .content-cart-wrapper .principal-message {
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
}

.main-wrapper .content-wrapper .container-cart-response .content-cart-wrapper .btn-wrapper {
  margin-top: 10px;
}

.main-wrapper .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #272727;
  color: #fff;
  padding: 0;
}

.main-wrapper .footer .social {
  font-size: 2rem;
  color: #fff;
  background-color: #b10909;
  width: 100%;
  padding: 1rem 0;
}

.main-wrapper .footer .social .col span {
  padding-right: 1rem;
}

.main-wrapper .footer .social .col a {
  color: #fff;
  padding-right: 1rem;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.main-wrapper .footer .social .col a:hover {
  color: #717171;
}

.main-wrapper .footer .info-footer {
  padding-top: 1rem;
}

.main-wrapper .footer .info-footer .col span {
  font-size: 1.2rem;
}

.main-wrapper .footer .info-footer .col ul {
  list-style: none;
  padding: 0;
}

.main-wrapper .footer .info-footer .col ul li .fas, .main-wrapper .footer .info-footer .col ul li span, .main-wrapper .footer .info-footer .col ul li a {
  font-size: 0.8rem;
  color: #717171;
}

.main-wrapper .footer .info-footer .col ul li a, .main-wrapper .footer .info-footer .col ul li i, .main-wrapper .footer .info-footer .col ul li span {
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.main-wrapper .footer .info-footer .col ul li a:hover {
  color: #fff;
}

.main-wrapper .footer .info-footer .col ul li a:hover i, .main-wrapper .footer .info-footer .col ul li a:hover span {
  color: #fff;
}

/*
    END OF SHOP CSS
*/
/* 
    ANIMATIONS
*/
@-webkit-keyframes notificationsUp {
  from {
    bottom: -130px;
  }
  to {
    bottom: 30px;
  }
}
@keyframes notificationsUp {
  from {
    bottom: -130px;
  }
  to {
    bottom: 30px;
  }
}

@-webkit-keyframes notificationsDown {
  from {
    bottom: 30px;
  }
  to {
    bottom: -130px;
  }
}

@keyframes notificationsDown {
  from {
    bottom: 30px;
  }
  to {
    bottom: -130px;
  }
}

/* 
    GLOBAL CUSTOMS CSS 
*/
.btn-original {
  font-size: 0.8rem;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #b10909;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.btn-original:hover {
  background-color: #df3e3e;
  color: #fff;
}

.btn-original:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*
    FILTER DESIGN
*/
.b-contain *, .b-contain *::before, .b-contain *::after {
  -webkit-box-sizing: content-box !important;
          box-sizing: content-box !important;
}

.b-contain input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.b-contain span {
  line-height: 1.54;
  font-size: 1rem;
  font-family: inherit;
}

.b-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-left: 1.8rem;
  cursor: pointer;
  margin-bottom: .5rem;
}

.b-contain input[type="checkbox"] ~ .b-input {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.25rem;
  width: 1.25rem;
  background: #fff;
  -webkit-transition: background 250ms;
  transition: background 250ms;
  border: 1px solid #717171;
  border-radius: 0.125rem;
}

.b-contain input[type="radio"] ~ .b-input {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.25rem;
  width: 1.25rem;
  background: #fff;
  -webkit-transition: background 250ms;
  transition: background 250ms;
  border: 1px solid #717171;
  border-radius: 2.0rem;
}

.b-contain input[type="checkbox"] ~ .b-input::after {
  content: '';
  position: absolute;
  display: none;
  left: .45rem;
  top: .18rem;
  width: .25rem;
  height: .6rem;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transition: background 250ms;
  transition: background 250ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.b-contain input[type="radio"] ~ .b-input::after {
  content: '';
  position: absolute;
  display: none;
  left: .25rem;
  top: .25rem;
  width: .75rem;
  height: .75rem;
  border-radius: 2.0rem;
  background: #fff;
  -webkit-transition: background 250ms;
  transition: background 250ms;
}

.b-contain input:checked ~ .b-input::after {
  display: block;
}

.b-contain:hover input ~ .b-input,
.b-contain input:focus ~ .b-input {
  background: #fff;
}

.b-contain input:focus ~ .b-input {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.b-contain input:checked ~ .b-input {
  background: #b10909;
  border-color: #b10909;
}

.b-contain input:checked:focus ~ .b-input, .b-contain:hover input:not([disabled]):checked ~ .b-input {
  background: #b10909;
  border-color: #b10909;
}

.b-contain .b-input::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 3rem;
  height: 3rem;
  margin-left: -0.85rem;
  margin-top: -0.85rem;
  background: #b10909;
  border-radius: 2rem;
  opacity: .6;
  z-index: 99999;
  -webkit-transform: scale(0);
          transform: scale(0);
}

@-webkit-keyframes b-ripple {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes b-ripple {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes b-ripple-duplicate {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  30% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  60% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes b-ripple-duplicate {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  30% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  60% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.b-contain input + .b-input::before {
  -webkit-animation: b-ripple 250ms ease-out;
          animation: b-ripple 250ms ease-out;
}

.b-contain input:checked + .b-input::before {
  -webkit-animation-name: b-ripple-duplicate;
          animation-name: b-ripple-duplicate;
}

.b-contain .b-input::before {
  visibility: hidden;
}

.b-contain input:focus + .b-input::before {
  visibility: visible;
}

.b-contain:first-child .b-input::before {
  visibility: hidden;
}

/*
    END FILTER DESIGN
*/
/*# sourceMappingURL=style.css.map */