/* ------ VARIABLES ------ */
$primary-color: #272727;
$secondary-color: #373737;
$category-text-color: #7f7f7f;
$category-bg-color: #323232;
$item-bg-color: #2A2A2A;
$icon-bg-color: #222222;
$active-bg-color: #3c3c3c;
$text-primary-color: #bdbdbd;
$text-secondary-color: #777;
$red-color: #b10909;
$red-color-hover: #df3e3e;
$yellow-color: #FFE400;
$green-color: #14A76C;
$white-color: #fff;
$grey-light-category: #ddd;
$grey-text-category: #999;
$black-color: #121212;

// $primary-font-family: 'Roboto', sans-serif;
$primary-font-family: 'Open Sans', sans-serif;
$secondary-font-family: 'Arimo', sans-serif;

/* ------ MIXINS ------ */
@mixin flex( $width, $direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    width: $width;
}

@mixin img-responsive() {
    width: 100%;
    height: auto;
}

@mixin absolute ($top, $left) {
    position: absolute;
    top: $top;
    left: $left;
}

/* ------ CUSTOM ------ */

body {
    font-family: $primary-font-family;    
    background-color: $grey-light-category;
    margin: 0;
    padding: 0;
    height: 100%;
}

/* ------ BACKOFFICE ------ */
.admin-body {
    background-color: $grey-light-category;
    height: 100vh;
}

.main-wrapper{
    @include flex(100%, column, flex-start, flex-start);
    overflow-x: hidden;
    height: 100%;

    /*
        HEADER
    */
    .header {
        @include flex (100%, row, flex-end, center);
        height: 52px;
        background-color: $black-color;
        color: $white-color;

        .submit-button {
            padding: 5px 15px;
            margin: 0 40px;
        }
    }
    /*
        END OF HEADER
    */

    .contain-wrapper {

        /*
            SIDEBAR-MENU
        */
        .sidebar-content {
            width: 220px;
            background-color: $item-bg-color;        
            height: 100%;
            position: fixed;
            left: 0;
    
            .sidebar-title {
                @include flex( 100%, row, flex-start, flex-start);
                border-bottom: 1px solid $secondary-color;
                color: $text-primary-color;
                padding: 15px 10px;
                box-sizing: border-box;
                font-size: 1.1rem;
                position:relative;
    
                img {
                    width: 35%;
                    height: auto;
                }
    
                .online {
                    position: absolute;
                    left: 17px;
                    top: 17px;
                    width: 12px;
                    height: 12px;
                    border-radius: 100%;
                    background-color: #8CC152;
                    animation: online 0.6s infinite;
                    -webkit-animation: online 0.6s infinite;
                    border: 2px solid $item-bg-color;
                }
    
                .alias-wrapper {
                    padding-top: 13px;
                    margin-left: 10px;
    
                    .name-wrapper {
                        @include flex( auto, row, flex-start, flex-start);
                        font-weight: 100;
    
                        .name {
                            color: $text-secondary-color;
                            margin-right: 5px;
                        }
                    }
    
                    .alias {
                        color: $text-secondary-color;
                        font-size: 0.8rem;
                    }
    
                }
            }
    
            .sidebar-menu {
                @include flex( 100%, column, flex-start, flex-start);
                list-style: none;
                margin: 0;
                padding: 0;
                height: auto;
                overflow: hidden;
                outline: none;
                height: calc(100% - 153px);
                direction: rtl;
                
                .sidebar-category {
                    @include flex( 100%, row, space-between, center);
                    background-color: $category-bg-color;
                    text-transform: uppercase;
                    font-size: 0.8rem;
                    padding: 10px;
                    color: $category-text-color;
                    direction: ltr;
                }
    
                .sub-item {
                    display: block;
                    position: relative;
                    width: 100%;
                    transition: all 0.2s ease;
                    direction: ltr;
    
                    &.is-active {
                        background-color: $active-bg-color;
                        
                        a {

                            span{
                                color: $white-color;
                            }

                            .icon {
        
                                i{                            
                                    background-color: $red-color;
                                }
                            }
                        }
                    }

                    &:hover {

                        a{

                            span{
                                color: $white-color;
                            }
                        }
                    }
    
                    a {
                        display: block;
                        padding: 6px 15px;
                        text-decoration: none;
                        outline: none;   
                        color: $text-primary-color;
        
                        .icon {
                            margin-right: 10px;
    
                            i {
                                border-radius: 50%;
                                border: 2px solid $secondary-color;
                                background-color: $item-bg-color;
                                text-align: center;
                                line-height: 25px;
                                width: 29px;
                                font-size: 12px;
                                color: $text-primary-color;
                            }
    
                            &::after {
                                content: "";
                                border: 1px solid $secondary-color;
                                position: absolute;
                                top: 0px;
                                bottom: 0px;
                                left: 29px;
                                z-index: -1;
                            }
                        }
    
                        .text {
                            font-size: 0.9rem;
                            color: $text-primary-color;
                        }
                    }
                }
            }
            .sidebar-menu>li::after {
                border-left: 2px solid #373737;
            }
            .sidebar-menu li::after {
                position: absolute;
                content: "";
                left: 55px;
                bottom: -1px;
            }
        }
        /*
            END OF SIDEBAR-MENU
        */
        
        /*
            CONTENT PAGES
        */
        .content-wrapper {
            width: calc(100vw - 220px);
            margin-left: 220px;
            position: relative;

            .title-content {
                background-color: white;
                padding: 10px 15px;

                h2 {
                    padding: 0;
                    margin: 0;
                    font-size: 1.4rem;

                    i {
                        margin-right: 7px;
                        border-right: 1px dotted $grey-light-category;
                        padding-right: 10px;
                    }

                    span{
                        font-size: 0.9rem;
                        font-style: italic;
                        color: $grey-text-category;
                    }
                }
            }

            .content-info {
                margin: 30px;

                .content-header {
                    background-color: $red-color;
                    text-align: center;
                    padding: 10px 0;
                    font-size: 1.2rem;
                    color: $white-color;
                    font-weight: 600;
                    border-bottom: 1px solid $white-color;
                }

                .search-wrapper {
                    @include flex( 100%, row, flex-end, center);
                    background-color: $white-color;
                    padding-top: 20px;

                    label {
                        margin-bottom: 0;
                        margin-right: 10px;
                    }

                    .form-search {
                        width: 200px;
                        margin-right: 20px;
                    }    
                }

                .content-table {
                    background-color: $white-color;
                    padding: 20px;

                    .table {
                        border-bottom: 1px solid #dee2e6;
                        margin-bottom: 0;
                        font-size: 0.8rem;

                        &.table-details {
                            font-size: 1rem !important;
                        }

                        tbody {

                            td {
                                padding: 0.45rem;

                                .form-date {
                                    width: 175px;
                                }
            
                                .form-select {
                                    width: 80px;
                                }
            
                                .form-number {
                                    width: 90px;
                                }

                                .form-number-user {
                                    width: 140px;
                                }

                                .form-text-user {
                                    width: 230px;
                                }

                                img {
                                    width: 30px;
                                    border: 1px solid $red-color;
                                    box-sizing: border-box;
                                }

                                .form-file {
                                    height: auto;
                                    font-size: 0.9rem;
                                    overflow: hidden;
                                    padding: 0;
                                    cursor: pointer;

                                    &::-webkit-file-upload-button{
                                        background-color: $red-color;
                                        border: none;
                                        color: $white-color;
                                        padding: 7px 15px;
                                        font-size: 0.9rem;
                                        margin-right: 20px;
                                    }
                                }
                            }
                        }
                    }

                    .btn-wrapper {
                        margin-top: 20px;

                        .btn-original:disabled{
                            background-color: $secondary-color;
                        }
                    }

                    .pagination {
                        @include flex( 100%, row, center, center);
                        padding-top: 20px;

                        span {
                            margin-right: 10px;

                            &:last-child {
                                margin-right: 0;
                            }

                            a {
                                text-decoration: none;
                                color: $primary-color;
                            
                                &:hover {
                                    color: $red-color-hover;
                                }
                            }
                        }

                        .curlink {
                            color: $red-color;
                        }

                    }
                }

                /*
                    ORDER PRODUCT DETAIL PAGE
                */
                .container-order-details {
                    padding: 10px;
                    box-sizing: border-box;
                    background-color: $white-color;
            
                    .table {
                        margin-bottom: 0;
                        font-size: 0.8rem;

                        tbody {
            
                            tr{
            
                                td {
                                    width: 100px;
            
                                    .order-img {
                                        width: 60px;
                                        height: auto;
                                        border-radius: 5px;
                                    }                            
                                }

                                .bg-total {
                                    background-color: $secondary-color;
                                }
                            }
                        }
                    }
                }
                /*
                    END OF ORDER PRODUCT DETAIL PAGE
                */

                /*
                  ERROR FILE PAGE
                */
                .content-file-wrapper {
                    @include flex( 100%, column, center, center);

                    .error-title {
                        font-style: oblique;
                        font-weight: 600;
                        font-size: 1.2rem;
                    }

                    .file-properties {
                        padding: 15px;
                        background-color: $grey-light-category;
                        margin: 15px 0;
                        border: 1px solid $red-color;
                        border-radius: 5px;
                        font-size: 0.9rem;
                    }
                }
                /*
                    END OF ERROR FILE PAGE
                */
            }

            #error-message {
                width: 100%;
                text-align: center;

                div {
                    background-color: white;
                    padding: 15px 35px;
                    margin: 0 30px;
                    
                    .fas {
                        font-size: 2rem;
                        color: $yellow-color;
                        margin-right: 25px;
                    }
                }
            }

            /*
                MODAL DETAILS
            */
            .modal-details {
                display: none;
                position: absolute;
                z-index: 1;
                left: 0;
                top: 0;
                width: 100%;
                height: calc(100vh - 52px);
                overflow: auto;
                background-color: rgb(0,0,0);
                background-color: rgba(0,0,0,0.4);
                
                .modal-details-content {
                    background-color: $white-color;
                    margin: 10% auto;
                    border: 1px solid $grey-text-category;
                    width: 55%;
                    
                    .close {
                        color: $category-text-color;
                        float: right;
                        font-size: 28px;
                        font-weight: bold;
                        margin-right: 5px;
                    }
                      
                    .close:hover, .close:focus {
                        color: $primary-color;
                        text-decoration: none;
                        cursor: pointer;
                    }

                    #modal-content-dynamic {

                        .modal-message-content {
                            padding: 25px 0;

                            span:first-child {
                                font-size: 2rem;
                                color: $yellow-color;
                                margin-right: 25px;
                            }
                        }
                    }
                }    
            }
            /*
                END OF MODAL DETAILS
            */
        }
        /*
            END OF CONTENT PAGES
        */
    }    
}

/* 
    KEYFRAMES ONLINE
*/
@keyframes online {    
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1.2);
    }
}
/*
    END OF KEYFRAMES
*/

/* 
    GLOBAL CUSTOMS CSS 
*/
.btn-original {
    font-size: 0.8rem;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    box-sizing: border-box;
    background-color: $red-color;
    color: $white-color;
    text-transform: uppercase;
    transition: all 0.2s ease;
}

.btn-original:hover {
    background-color: $red-color-hover;
    color: $white-color;
}

.btn-original:focus {
    box-shadow: none;
}
/* 
    END OF GLOBAL CUSTOMS CSS 
*/

/*
    SCROLLBAR CSS
*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $red-color;
}
/*
    END OF SCROLLBAR CSS
*/