/* ------ VARIABLES ------ */
/* ------ MIXINS ------ */
/* ------ CUSTOM ------ */
body {
  font-family: "Roboto", sans-serif;
  background-color: #dfdfdf;
}

.container-fluid {
  margin: 0;
  padding: 0;
  /* 
        HEADER
    */
  /* 
        CONTENT SINGLE PAGE
    */
  /*
        SIDEBAR LEFT
    */
}

.container-fluid .header-wrapper .offer {
  text-align: center;
  background-color: #fff;
  color: #121212;
  font-family: "Arimo", sans-serif;
  font-size: 0.8rem;
  padding: 10px;
}

.container-fluid .header-wrapper .navbar.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1020;
}

.container-fluid .header-wrapper .navbar .navbar-brand {
  width: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}

.container-fluid .header-wrapper .navbar .navbar-brand .img {
  width: 100%;
  height: auto;
}

.container-fluid .header-wrapper .navbar .search {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-fluid .header-wrapper .navbar .search #search-bar {
  border: 2px solid #FF652F;
  border-radius: 10px;
  padding-top: 5px;
  padding-right: 25px;
  padding-bottom: 5px;
  padding-left: 12px;
}

.container-fluid .header-wrapper .navbar .search i {
  position: relative;
  left: -25px;
  color: #FF652F;
}

.container-fluid .header-wrapper .navbar .login-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  color: #fff;
  position: relative;
}

.container-fluid .header-wrapper .navbar .login-cart .fas {
  font-size: 2.5rem;
  cursor: pointer;
}

.container-fluid .header-wrapper .navbar .login-cart .fas:last-child {
  font-size: 1.8rem;
}

.container-fluid .header-wrapper .navbar .login-cart .fas-logged {
  color: #FF652F;
}

.container-fluid .header-wrapper .navbar .login-cart .modal-logging {
  display: none;
  position: absolute;
  top: 50px;
  right: 49px;
  z-index: 99;
  background-color: #fff;
  padding: 8px 10px;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  color: #272727;
  text-transform: none;
  font-size: 0.8rem;
}

.container-fluid .header-wrapper .navbar .login-cart .modal-logging :after {
  content: "";
  position: absolute;
  left: 389px;
  top: -16px;
  border: 8px solid transparent;
  border-bottom: 8px solid white;
  bottom: auto;
}

.container-fluid .header-wrapper .navbar .login-cart .modal-logging .left, .container-fluid .header-wrapper .navbar .login-cart .modal-logging .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  padding: 10px;
  width: 200px;
}

.container-fluid .header-wrapper .navbar .login-cart .modal-logging .left {
  border-right: 1px solid #dfdfdf;
}

.container-fluid .header-wrapper .navbar .login-cart .modal-logging form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  padding: 10px 0;
}

.container-fluid .header-wrapper .navbar .login-cart .modal-logging form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  width: auto;
}

.container-fluid .header-wrapper .navbar .login-cart .modal-logging strong {
  font-size: 0.8rem;
  font-weight: 600;
}

.container-fluid .header-wrapper .navbar .login-cart .modal-logging .input-form {
  padding: 5px;
  margin-bottom: 5px;
}

.container-fluid .header-wrapper .navbar .login-cart .modal-logging .input-form.checked {
  border-bottom: 3px solid #14A76C;
}

.container-fluid .header-wrapper .navbar .login-cart .modal-logging .input-form.unchecked {
  border-bottom: 3px solid red;
}

.container-fluid .header-wrapper .navbar .login-cart .modal-logging .input-form.wrong-pass {
  border: 2px solid red;
}

.container-fluid .header-wrapper .navbar .login-cart .modal-logging .input-form:focus {
  border: 1px solid #747474;
}

.container-fluid .header-wrapper .navbar .login-cart .modal-logging #pass, .container-fluid .header-wrapper .navbar .login-cart .modal-logging #phone-reg {
  margin-bottom: 10px;
}

.container-fluid .header-wrapper .navbar .login-cart .modal-logging .label-form {
  font-size: 0.8rem;
}

.container-fluid .header-wrapper .navbar .login-cart .modal-logging #error-loggin {
  margin-bottom: 10px;
}

.container-fluid .header-wrapper .navbar .login-cart .modal-logging .forgot-pass a {
  text-decoration: none;
  color: #FF652F;
  font-size: 0.7rem;
}

.container-fluid .header-wrapper .navbar .login-cart .modal-logging .btn-original:disabled {
  background-color: #747474;
}

.container-fluid .header-wrapper .navbar .login-cart .modal-logging-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-fluid .header-wrapper .navbar .login-cart .modal-logged {
  display: none;
  position: absolute;
  width: 205px;
  top: 50px;
  right: 49px;
  z-index: 99;
  background-color: #fff;
  padding: 8px 10px;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  color: #272727;
  text-transform: none;
  font-size: 0.8rem;
}

.container-fluid .header-wrapper .navbar .login-cart .modal-logged :after {
  content: "";
  position: absolute;
  left: 172px;
  top: -16px;
  border: 8px solid transparent;
  border-bottom: 8px solid white;
  bottom: auto;
}

.container-fluid .header-wrapper .navbar .login-cart .modal-logged .name-nav-log {
  color: #747474;
  border-color: #dfdfdf;
}

.container-fluid .header-wrapper .navbar .login-cart .modal-logged .nav-item {
  color: #272727;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.container-fluid .header-wrapper .navbar .login-cart .modal-logged .nav-item .nav-link {
  color: #272727;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.container-fluid .header-wrapper .navbar .login-cart .modal-logged .nav-item .nav-link .fas {
  font-size: 1rem;
}

.container-fluid .header-wrapper .navbar .login-cart .modal-logged .nav-item .nav-link:hover {
  color: #fff;
}

.container-fluid .header-wrapper .navbar .login-cart .modal-logged .nav-item:hover {
  background-color: #FF652F;
  opacity: 0.5;
}

.container-fluid .header-wrapper .navbar .login-cart .modal-logged .submit-button {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  font-size: 0.8rem;
  text-decoration: none;
  border: none;
  padding: 10px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #FF652F;
  color: #fff;
}

.container-fluid .header-wrapper .navbar .login-cart .modal-logged .submit-button .fas {
  font-size: 1rem;
}

.container-fluid .header-wrapper .navbar .login-cart .modal-logged .modal-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-size: 1rem;
}

.container-fluid .header-wrapper .navbar .navbar-collapse .navbar-nav {
  width: 100%;
}

.container-fluid #carouselBanner .carousel-inner .carousel-item .carousel-caption {
  top: 0;
}

.container-fluid #carouselBanner .carousel-inner .carousel-item .carousel-caption .banner-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  line-height: 1;
}

.container-fluid #carouselBanner .carousel-inner .carousel-item .carousel-caption .banner-text .banner-logo {
  width: 50%;
  margin-bottom: 25px;
}

.container-fluid #carouselBanner .carousel-inner .carousel-item .carousel-caption .banner-text .banner-subheader {
  color: #FF652F;
  font-size: 2rem;
}

.container-fluid #carouselBanner .carousel-inner .carousel-item .carousel-caption .banner-text .banner-header {
  color: #fff;
  font-size: 3rem;
  margin-bottom: 15px;
}

.container-fluid #carouselBanner .carousel-inner .carousel-item .carousel-caption .banner-text .banner-btn {
  font-size: 2rem;
  text-decoration: none;
  padding: 10px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #FF652F;
  color: #fff;
  margin-left: 420px;
}

.container-fluid .sidebar-left .filter-text {
  border-bottom: 1px solid #dfdfdf;
  letter-spacing: 0.2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.container-fluid .container-product {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 25px;
}

.container-fluid .container-product .card-deck {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-fluid .container-product .card-deck .card-wrapper {
  padding: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-fluid .container-product .card-deck .card-wrapper .card-item {
  position: relative;
  padding: 5px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 15px 28px -22px #121212;
  box-shadow: 0px 15px 28px -22px #121212;
}

.container-fluid .container-product .card-deck .card-wrapper .card-item .price-corner {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #121212;
  color: #fff;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  top: -30px;
  left: -30px;
}

.container-fluid .container-product .card-deck .card-wrapper .card-item .card-title {
  color: #121212;
  margin: 20px 0 0 20px;
}

.container-fluid .container-product .card-deck .card-wrapper .card-item .card-title span {
  font-size: 1rem;
  font-weight: 100;
}

.container-fluid .container-product .card-deck .card-wrapper .card-item .card-title hr {
  border: 0;
  height: 3px;
  width: 30px;
  background-color: #FF652F;
  margin: 10px 0 40px;
}

.container-fluid .container-product .card-deck .card-wrapper .card-item .card-title hr.hr-size {
  margin-bottom: 10px;
}

.container-fluid .container-product .card-deck .card-wrapper .card-item .card-title .radio-button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.container-fluid .container-product .card-deck .card-wrapper .card-item .card-title .radio-button-wrapper .b-contain {
  margin-right: 10px;
}

.container-fluid .container-product .card-deck .card-wrapper .card-item .btn-card {
  display: inline-block;
  position: absolute;
  bottom: -20px;
  right: -10px;
  color: #fff;
  text-align: center;
  padding: 0.75em 1.5em;
  white-space: nowrap;
  border-radius: 5px;
  background-color: #FF652F;
  border: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.container-fluid .container-product .card-deck .card-wrapper .card-item .btn-card:hover {
  background-color: #ff875c;
}

.container-fluid .container-product .card-deck .card-wrapper .card-item .btn-card:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.container-fluid .container-order-details .table tbody tr td {
  width: 100px;
}

.container-fluid .container-order-details .table tbody tr td .order-img {
  width: 60px;
  height: auto;
  border-radius: 5px;
}

.btn-original {
  font-size: 0.8rem;
  text-decoration: none;
  border: none;
  padding: 10px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #FF652F;
  color: #fff;
  text-transform: uppercase;
}

/*
    FILTER DESIGN
*/
.b-contain *, .b-contain *::before, .b-contain *::after {
  -webkit-box-sizing: content-box !important;
          box-sizing: content-box !important;
}

.b-contain input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.b-contain span {
  line-height: 1.54;
  font-size: 1rem;
  font-family: inherit;
}

.b-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-left: 1.8rem;
  cursor: pointer;
  margin-bottom: .5rem;
}

.b-contain input[type="checkbox"] ~ .b-input {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.25rem;
  width: 1.25rem;
  background: #fff;
  -webkit-transition: background 250ms;
  transition: background 250ms;
  border: 1px solid #747474;
  border-radius: 0.125rem;
}

.b-contain input[type="radio"] ~ .b-input {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.25rem;
  width: 1.25rem;
  background: #fff;
  -webkit-transition: background 250ms;
  transition: background 250ms;
  border: 1px solid #747474;
  border-radius: 2.0rem;
}

.b-contain input[type="checkbox"] ~ .b-input::after {
  content: '';
  position: absolute;
  display: none;
  left: .45rem;
  top: .18rem;
  width: .25rem;
  height: .6rem;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transition: background 250ms;
  transition: background 250ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.b-contain input[type="radio"] ~ .b-input::after {
  content: '';
  position: absolute;
  display: none;
  left: .25rem;
  top: .25rem;
  width: .75rem;
  height: .75rem;
  border-radius: 2.0rem;
  background: #fff;
  -webkit-transition: background 250ms;
  transition: background 250ms;
}

.b-contain input:checked ~ .b-input::after {
  display: block;
}

.b-contain:hover input ~ .b-input,
.b-contain input:focus ~ .b-input {
  background: #fff;
}

.b-contain input:focus ~ .b-input {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.b-contain input:checked ~ .b-input {
  background: #FF652F;
  border-color: #FF652F;
}

.b-contain input:checked:focus ~ .b-input, .b-contain:hover input:not([disabled]):checked ~ .b-input {
  background: #FF652F;
  border-color: #FF652F;
}

.b-contain .b-input::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 3rem;
  height: 3rem;
  margin-left: -0.85rem;
  margin-top: -0.85rem;
  background: #FF652F;
  border-radius: 2rem;
  opacity: .6;
  z-index: 99999;
  -webkit-transform: scale(0);
          transform: scale(0);
}

@-webkit-keyframes b-ripple {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes b-ripple {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes b-ripple-duplicate {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  30% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  60% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes b-ripple-duplicate {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  30% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  60% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.b-contain input + .b-input::before {
  -webkit-animation: b-ripple 250ms ease-out;
          animation: b-ripple 250ms ease-out;
}

.b-contain input:checked + .b-input::before {
  -webkit-animation-name: b-ripple-duplicate;
          animation-name: b-ripple-duplicate;
}

.b-contain .b-input::before {
  visibility: hidden;
}

.b-contain input:focus + .b-input::before {
  visibility: visible;
}

.b-contain:first-child .b-input::before {
  visibility: hidden;
}

/*
    END FILTER DESIGN
*/
/* ------ BACKOFFICE ------ */
.admin-body {
  background-color: #dfdfdf;
}

.admin-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.admin-container .admin-aside {
  width: 140px;
  background-color: #272727;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}

.admin-container .admin-aside .admin-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.admin-container .admin-aside .admin-list .admin-item {
  width: 100%;
  border-bottom: 1px solid #dfdfdf;
  color: #fff;
}

.admin-container .admin-aside .admin-list .admin-item:hover {
  background-color: #FF652F;
  color: #272727;
  cursor: pointer;
}

.admin-container .admin-aside .admin-list .admin-item:hover:first-child {
  background-color: inherit;
  cursor: inherit;
}

.admin-container .admin-aside .admin-list .admin-item .item-content {
  width: 100%;
  height: auto;
  padding: 15px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  font-size: 3rem;
}

.admin-container .admin-aside .admin-list .admin-item .item-content p {
  font-size: 1rem;
}

.admin-container .admin-aside .admin-list .admin-item .item-content i {
  padding-bottom: 10px;
}

.admin-container .admin-aside .admin-list .admin-item .item-content img, .admin-container .admin-aside .admin-list .admin-item .item-content i {
  width: 100%;
  height: auto;
}

.admin-container .admin-aside .admin-list .admin-item.is-active {
  background-color: #FF652F;
  color: #272727;
  cursor: default;
}

.admin-container .center-container {
  position: absolute;
  left: 140px;
  width: calc( 100% - 140px);
}

.admin-container .center-container .sales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.admin-container .center-container .sales__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  background-color: #fff;
  border: 1px solid #FF652F;
  border-radius: 5px;
  height: 65px;
  margin: 5px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.admin-container .center-container .sales__item:hover {
  background-color: #FF652F;
  color: #fff;
}

.admin-container .center-container .content-sales {
  display: none;
}

.admin-container .center-container .content-sales .search {
  border: 2px solid #FF652F;
  border-radius: 10px;
  padding-top: 5px;
  padding-right: 25px;
  padding-bottom: 5px;
  padding-left: 12px;
}

.admin-container .center-container .content-product {
  display: none;
}

.admin-container .center-container .content-user {
  display: none;
}
/*# sourceMappingURL=style.css.map */