/* ------ VARIABLES ------ */
/* ------ MIXINS ------ */
/* ------ CUSTOM ------ */
body {
  font-family: "Open Sans", sans-serif;
  background-color: #ddd;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* ------ BACKOFFICE ------ */
.admin-body {
  background-color: #ddd;
  height: 100vh;
}

.main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  overflow-x: hidden;
  height: 100%;
  /*
        HEADER
    */
  /*
        END OF HEADER
    */
}

.main-wrapper .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 52px;
  background-color: #121212;
  color: #fff;
}

.main-wrapper .header .submit-button {
  padding: 5px 15px;
  margin: 0 40px;
}

.main-wrapper .contain-wrapper {
  /*
            SIDEBAR-MENU
        */
  /*
            END OF SIDEBAR-MENU
        */
  /*
            CONTENT PAGES
        */
  /*
            END OF CONTENT PAGES
        */
}

.main-wrapper .contain-wrapper .sidebar-content {
  width: 220px;
  background-color: #2A2A2A;
  height: 100%;
  position: fixed;
  left: 0;
}

.main-wrapper .contain-wrapper .sidebar-content .sidebar-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  border-bottom: 1px solid #373737;
  color: #bdbdbd;
  padding: 15px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.1rem;
  position: relative;
}

.main-wrapper .contain-wrapper .sidebar-content .sidebar-title img {
  width: 35%;
  height: auto;
}

.main-wrapper .contain-wrapper .sidebar-content .sidebar-title .online {
  position: absolute;
  left: 17px;
  top: 17px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #8CC152;
  animation: online 0.6s infinite;
  -webkit-animation: online 0.6s infinite;
  border: 2px solid #2A2A2A;
}

.main-wrapper .contain-wrapper .sidebar-content .sidebar-title .alias-wrapper {
  padding-top: 13px;
  margin-left: 10px;
}

.main-wrapper .contain-wrapper .sidebar-content .sidebar-title .alias-wrapper .name-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: auto;
  font-weight: 100;
}

.main-wrapper .contain-wrapper .sidebar-content .sidebar-title .alias-wrapper .name-wrapper .name {
  color: #777;
  margin-right: 5px;
}

.main-wrapper .contain-wrapper .sidebar-content .sidebar-title .alias-wrapper .alias {
  color: #777;
  font-size: 0.8rem;
}

.main-wrapper .contain-wrapper .sidebar-content .sidebar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  height: auto;
  overflow: hidden;
  outline: none;
  height: calc(100% - 153px);
  direction: rtl;
}

.main-wrapper .contain-wrapper .sidebar-content .sidebar-menu .sidebar-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #323232;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 10px;
  color: #7f7f7f;
  direction: ltr;
}

.main-wrapper .contain-wrapper .sidebar-content .sidebar-menu .sub-item {
  display: block;
  position: relative;
  width: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  direction: ltr;
}

.main-wrapper .contain-wrapper .sidebar-content .sidebar-menu .sub-item.is-active {
  background-color: #3c3c3c;
}

.main-wrapper .contain-wrapper .sidebar-content .sidebar-menu .sub-item.is-active a span {
  color: #fff;
}

.main-wrapper .contain-wrapper .sidebar-content .sidebar-menu .sub-item.is-active a .icon i {
  background-color: #b10909;
}

.main-wrapper .contain-wrapper .sidebar-content .sidebar-menu .sub-item:hover a span {
  color: #fff;
}

.main-wrapper .contain-wrapper .sidebar-content .sidebar-menu .sub-item a {
  display: block;
  padding: 6px 15px;
  text-decoration: none;
  outline: none;
  color: #bdbdbd;
}

.main-wrapper .contain-wrapper .sidebar-content .sidebar-menu .sub-item a .icon {
  margin-right: 10px;
}

.main-wrapper .contain-wrapper .sidebar-content .sidebar-menu .sub-item a .icon i {
  border-radius: 50%;
  border: 2px solid #373737;
  background-color: #2A2A2A;
  text-align: center;
  line-height: 25px;
  width: 29px;
  font-size: 12px;
  color: #bdbdbd;
}

.main-wrapper .contain-wrapper .sidebar-content .sidebar-menu .sub-item a .icon::after {
  content: "";
  border: 1px solid #373737;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 29px;
  z-index: -1;
}

.main-wrapper .contain-wrapper .sidebar-content .sidebar-menu .sub-item a .text {
  font-size: 0.9rem;
  color: #bdbdbd;
}

.main-wrapper .contain-wrapper .sidebar-content .sidebar-menu > li::after {
  border-left: 2px solid #373737;
}

.main-wrapper .contain-wrapper .sidebar-content .sidebar-menu li::after {
  position: absolute;
  content: "";
  left: 55px;
  bottom: -1px;
}

.main-wrapper .contain-wrapper .content-wrapper {
  width: calc(100vw - 220px);
  margin-left: 220px;
  position: relative;
  /*
                MODAL DETAILS
            */
  /*
                END OF MODAL DETAILS
            */
}

.main-wrapper .contain-wrapper .content-wrapper .title-content {
  background-color: white;
  padding: 10px 15px;
}

.main-wrapper .contain-wrapper .content-wrapper .title-content h2 {
  padding: 0;
  margin: 0;
  font-size: 1.4rem;
}

.main-wrapper .contain-wrapper .content-wrapper .title-content h2 i {
  margin-right: 7px;
  border-right: 1px dotted #ddd;
  padding-right: 10px;
}

.main-wrapper .contain-wrapper .content-wrapper .title-content h2 span {
  font-size: 0.9rem;
  font-style: italic;
  color: #999;
}

.main-wrapper .contain-wrapper .content-wrapper .content-info {
  margin: 30px;
  /*
                    ORDER PRODUCT DETAIL PAGE
                */
  /*
                    END OF ORDER PRODUCT DETAIL PAGE
                */
  /*
                  ERROR FILE PAGE
                */
  /*
                    END OF ERROR FILE PAGE
                */
}

.main-wrapper .contain-wrapper .content-wrapper .content-info .content-header {
  background-color: #b10909;
  text-align: center;
  padding: 10px 0;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 600;
  border-bottom: 1px solid #fff;
}

.main-wrapper .contain-wrapper .content-wrapper .content-info .search-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #fff;
  padding-top: 20px;
}

.main-wrapper .contain-wrapper .content-wrapper .content-info .search-wrapper label {
  margin-bottom: 0;
  margin-right: 10px;
}

.main-wrapper .contain-wrapper .content-wrapper .content-info .search-wrapper .form-search {
  width: 200px;
  margin-right: 20px;
}

.main-wrapper .contain-wrapper .content-wrapper .content-info .search-wrapper form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #fff;
  padding-top: 20px;
}

.main-wrapper .contain-wrapper .content-wrapper .content-info .search-wrapper form .btn {
  margin-right: 20px;
}

.main-wrapper .contain-wrapper .content-wrapper .content-info .content-table {
  background-color: #fff;
  padding: 20px;
}

.main-wrapper .contain-wrapper .content-wrapper .content-info .content-table .table {
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 0;
  font-size: 0.8rem;
}

.main-wrapper .contain-wrapper .content-wrapper .content-info .content-table .table.table-details {
  font-size: 1rem !important;
}

.main-wrapper .contain-wrapper .content-wrapper .content-info .content-table .table tbody td {
  padding: 0.45rem;
}

.main-wrapper .contain-wrapper .content-wrapper .content-info .content-table .table tbody td .form-date {
  width: 175px;
}

.main-wrapper .contain-wrapper .content-wrapper .content-info .content-table .table tbody td .form-select {
  width: 80px;
}

.main-wrapper .contain-wrapper .content-wrapper .content-info .content-table .table tbody td .form-number {
  width: 90px;
}

.main-wrapper .contain-wrapper .content-wrapper .content-info .content-table .table tbody td .form-number-user {
  width: 140px;
}

.main-wrapper .contain-wrapper .content-wrapper .content-info .content-table .table tbody td .form-text-user {
  width: 230px;
}

.main-wrapper .contain-wrapper .content-wrapper .content-info .content-table .table tbody td img {
  width: 30px;
  border: 1px solid #b10909;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-wrapper .contain-wrapper .content-wrapper .content-info .content-table .table tbody td .form-file {
  height: auto;
  font-size: 0.9rem;
  overflow: hidden;
  padding: 0;
  cursor: pointer;
}

.main-wrapper .contain-wrapper .content-wrapper .content-info .content-table .table tbody td .form-file::-webkit-file-upload-button {
  background-color: #b10909;
  border: none;
  color: #fff;
  padding: 7px 15px;
  font-size: 0.9rem;
  margin-right: 20px;
}

.main-wrapper .contain-wrapper .content-wrapper .content-info .content-table .btn-wrapper {
  margin-top: 20px;
}

.main-wrapper .contain-wrapper .content-wrapper .content-info .content-table .btn-wrapper .btn-original:disabled {
  background-color: #373737;
}

.main-wrapper .contain-wrapper .content-wrapper .content-info .content-table .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 20px;
}

.main-wrapper .contain-wrapper .content-wrapper .content-info .content-table .pagination span {
  margin-right: 10px;
}

.main-wrapper .contain-wrapper .content-wrapper .content-info .content-table .pagination span:last-child {
  margin-right: 0;
}

.main-wrapper .contain-wrapper .content-wrapper .content-info .content-table .pagination span a {
  text-decoration: none;
  color: #272727;
}

.main-wrapper .contain-wrapper .content-wrapper .content-info .content-table .pagination span a:hover {
  color: #df3e3e;
}

.main-wrapper .contain-wrapper .content-wrapper .content-info .content-table .pagination .curlink {
  color: #b10909;
}

.main-wrapper .contain-wrapper .content-wrapper .content-info .content-table.content-statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.main-wrapper .contain-wrapper .content-wrapper .content-info .content-table.content-statistics .col-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.main-wrapper .contain-wrapper .content-wrapper .content-info .container-order-details {
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
}

.main-wrapper .contain-wrapper .content-wrapper .content-info .container-order-details .table {
  margin-bottom: 0;
  font-size: 0.8rem;
}

.main-wrapper .contain-wrapper .content-wrapper .content-info .container-order-details .table tbody tr td {
  width: 100px;
}

.main-wrapper .contain-wrapper .content-wrapper .content-info .container-order-details .table tbody tr td .order-img {
  width: 60px;
  height: auto;
  border-radius: 5px;
}

.main-wrapper .contain-wrapper .content-wrapper .content-info .container-order-details .table tbody tr td .fas {
  color: #b10909;
  font-size: 2rem;
}

.main-wrapper .contain-wrapper .content-wrapper .content-info .container-order-details .table tbody tr .bg-total {
  background-color: #373737;
}

.main-wrapper .contain-wrapper .content-wrapper .content-info .content-file-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.main-wrapper .contain-wrapper .content-wrapper .content-info .content-file-wrapper .error-title {
  font-style: oblique;
  font-weight: 600;
  font-size: 1.2rem;
}

.main-wrapper .contain-wrapper .content-wrapper .content-info .content-file-wrapper .file-properties {
  padding: 15px;
  background-color: #ddd;
  margin: 15px 0;
  border: 1px solid #b10909;
  border-radius: 5px;
  font-size: 0.9rem;
}

.main-wrapper .contain-wrapper .content-wrapper #error-message {
  width: 100%;
  text-align: center;
}

.main-wrapper .contain-wrapper .content-wrapper #error-message div {
  background-color: white;
  padding: 15px 35px;
  margin: 0 30px;
}

.main-wrapper .contain-wrapper .content-wrapper #error-message div .fas {
  font-size: 2rem;
  color: #FFE400;
  margin-right: 25px;
}

.main-wrapper .contain-wrapper .content-wrapper .modal-details {
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100vh - 52px);
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.main-wrapper .contain-wrapper .content-wrapper .modal-details .modal-details-content {
  background-color: #fff;
  margin: 10% auto;
  border: 1px solid #999;
  width: 55%;
}

.main-wrapper .contain-wrapper .content-wrapper .modal-details .modal-details-content .close {
  color: #7f7f7f;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 5px;
}

.main-wrapper .contain-wrapper .content-wrapper .modal-details .modal-details-content .close:hover, .main-wrapper .contain-wrapper .content-wrapper .modal-details .modal-details-content .close:focus {
  color: #272727;
  text-decoration: none;
  cursor: pointer;
}

.main-wrapper .contain-wrapper .content-wrapper .modal-details .modal-details-content #modal-content-dynamic .modal-message-content {
  padding: 25px 0;
}

.main-wrapper .contain-wrapper .content-wrapper .modal-details .modal-details-content #modal-content-dynamic .modal-message-content span:first-child {
  font-size: 2rem;
  color: #FFE400;
  margin-right: 25px;
}

/* 
    KEYFRAMES ONLINE
*/
@-webkit-keyframes online {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@keyframes online {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

/*
    END OF KEYFRAMES
*/
/* 
    GLOBAL CUSTOMS CSS 
*/
.btn-original {
  font-size: 0.8rem;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #b10909;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.btn-original:hover {
  background-color: #df3e3e;
  color: #fff;
}

.btn-original:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* 
    END OF GLOBAL CUSTOMS CSS 
*/
/*
    SCROLLBAR CSS
*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b10909;
}

/*
    END OF SCROLLBAR CSS
*/
.chart-container {
  position: relative;
  height: auto !important;
}

.chartjs-size-monitor {
  width: 40%;
}
/*# sourceMappingURL=style-dashboard.css.map */