/* ------ VARIABLES ------ */
$primary-color: #272727;
$secondary-color: #717171;
$terciary-color: #ddd;
$red-color: #b10909;
$red-color-hover: #df3e3e;
$yellow-color: #FFE400;
$green-color: #14A76C;
$white-color: #fff;
$grey-light: #ececec;
$black-color: #121212;

// $primary-font-family: 'Roboto', sans-serif;
$primary-font-family: 'Open Sans', sans-serif;
$secondary-font-family: 'Arimo', sans-serif;

/* ------ MIXINS ------ */
@mixin flex( $width, $direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    width: $width;
}

@mixin img-responsive() {
    width: 100%;
    height: auto;
}

@mixin absolute ($top, $left) {
    position: absolute;
    top: $top;
    left: $left;
}

/* ------ CUSTOM ------ */

body {
    font-family: $primary-font-family;    
    background-color: $grey-light;
    margin: 0;
    padding: 0;
    height: 100%;
}

/*
    SHOP CSS
*/
.main-wrapper {
    margin: 0;
    padding: 0;

    /* 
        HEADER
    */
    .header-wrapper {
    
        .offer {
            text-align: center;
            background-color: $white-color;
            color: $black-color;
            font-family: $secondary-font-family;
            font-size: 0.8rem;
            padding: 10px;
        }

        .navbar {
            @include flex( 100%, column, center, center);
            padding: 0;

            &.fixed {
                position: fixed;
                width: 100%;
                top: 0;
                z-index:1020;
            }

            .principal-wrapper {
                @include flex(100%, row, space-between, center);
                padding: 0 30px;

                .navbar-brand {
                    width: 150px;
                    box-sizing: border-box;
                    padding: 10px;
        
                    .img{
                        @include img-responsive();
                    }
                }
    
                .search {
                    box-sizing: border-box;
                    width: 80%;
                    position: relative;
        
                    #search-bar {
                        width: 100%;
                        border: 1px solid $red-color;
                        border-radius: 5px;
                        padding-top: 5px;
                        padding-right: 25px;
                        padding-bottom: 5px;
                        padding-left: 12px;
                    }
        
                    i {
                        position: absolute;
                        right: 0;
                        top: 0px;
                        background-color: $red-color;
                        color: $white-color;
                        border-radius: 0 5px 5px 0;
                        padding: 10px;
                    }
    
                    /*
                        MODAL SEARCH
                    */
                    
                    .modal-search {
                        display: none;
                        position: absolute;
                        width: 100%;
                        height: auto;
                        z-index: 999;
                        background-color: $white-color;
                        border-radius: 0 0 5px 5px;
                        padding: 5px;
    
                        .modal-wrapper {
    
                            .modal-content-wrapper {
                                @include flex( 100%, column, center, flex-start);
                                
                                .form-search {
                                    width: 100%;
    
                                    .modal-link {
                                        margin: 5px 0;
                                        text-decoration: none;
                                        color: $primary-color;
        
                                        img {
                                            width: 30px;
                                            height: auto;
                                            margin-right: 10px;
                                        }
                                    }
        
                                    .modal-link:hover {
                                        background-color: $grey-light;
                                    }

                                    .btn {
                                        @include flex( 100%, row, flex-start, center);
                                    }
                                }
                            }
                        }
                    }
                }
    
                .login-cart {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    color: $white-color;
                    position: relative;
        
                    .fas {
                        font-size: 2.5rem;
                        cursor: pointer;
                    }
    
                    .fas-logged {
                        color: $red-color;
                    }
    
                    .login {                    
                        margin-right: 20px;
    
                        .modal-logging {
                            display: none;
                            position: absolute;
                            top: 51px;
                            right: 64px;
                            z-index: 99;
                            background-color: $white-color;
                            padding: 8px 10px;
                            // display: flex;
                            border: 1px solid $grey-light;
                            border-radius: 4px;
                            box-shadow: 0 0 8px rgba(0,0,0,0.4);
                            color: $primary-color;
                            text-transform: none;
                            font-size: 0.8rem;
            
                            :after {
                                content: "";
                                position: absolute;
                                left: 389px;
                                top: -16px;
                                border: 8px solid transparent;
                                border-bottom: 8px solid white;
                                bottom: auto;     
                            }
            
                            .left, .right {
                                @include flex( auto, column, flex-start, center);
                                padding: 10px;
                                width: 200px;
                            }
            
                            .left {
                                border-right: 1px solid $grey-light;
                            }
            
                            form {
                                @include flex( auto, column, center, center);
                                padding: 10px 0;
        
                                .form-group {
                                    @include flex( auto, column, flex-start, initial);
                                }
                            }
            
                            strong {
                                font-size: 0.8rem;
                                font-weight: 600;
                            }
            
                            .input-form {
                                padding: 5px;
                                margin-bottom: 5px;
        
                                &.checked {
                                    border-bottom: 3px solid $green-color;
                                }
        
                                &.unchecked {
                                    border-bottom: 3px solid red;
                                }
        
                                &.wrong-pass {
                                    border: 2px solid red;
                                }

                                &:focus {
                                    box-shadow: none;
                                }
                            }
            
                            #pass, #phone-reg {
                                margin-bottom: 10px;
                            }
            
                            .label-form {
                                font-size: 0.8rem;
                            }
        
                            #error-loggin {                        
                                margin-bottom: 10px;
                            }
            
                            .forgot-pass a {
                                text-decoration: none;
                                color: $red-color;
                                font-size: 0.7rem;
                            }
        
                            .btn-original:disabled{
                                background-color: $secondary-color;
                            }
                        }
        
                        .modal-logging-open{
                            display: flex;
                        }
        
                        .modal-logged {
                            display: none;
                            position: absolute;
                            width: 205px;
                            top: 51px;
                            right: 64px;
                            z-index: 99;
                            background-color: $white-color;
                            padding: 8px 10px;
                            border: 1px solid $grey-light;
                            border-radius: 4px;
                            box-shadow: 0 0 8px rgba(0,0,0,0.4);
                            color: $primary-color;
                            text-transform: none;
                            font-size: 0.8rem;
            
                            :after {
                                content: "";
                                position: absolute;
                                left: 172px;
                                top: -16px;
                                border: 8px solid transparent;
                                border-bottom: 8px solid white;
                                bottom: auto;      
                            }
        
                            .name-nav-log {
                                color: $secondary-color;
                                border-color: $grey-light;
                            }                    
        
                            .nav-item {
                                color: $primary-color;
                                transition: all 0.2s;
        
                                .nav-link {
                                    color: $primary-color;
                                    transition: all 0.2s;
        
                                    .fas {
                                        font-size: 1rem;
                                    }
                                }
        
                                .nav-link:hover {
                                    color: $white-color;
                                }
                            }
        
                            .nav-item:hover {                        
                                background-color: $red-color;
                                opacity: 0.5;
                            }
        
                            .submit-button {
                                
                                flex-direction: row !important;
                                font-size: 0.8rem;
                                text-decoration: none;
                                border: none;
                                padding: 10px 30px;
                                box-sizing: border-box;
                                background-color: $red-color;
                                color: $white-color;
        
                                .fas {
                                    font-size: 1rem;
                                }
                            } 

                            .modal-close {
                                @include flex(100%, column, center, center);
                                font-size: 1rem;

                                .submit-button {
                                    font-size: 0.8rem;
                                }
                            }
                        }
                    }
    
                    .cart {
                        position: relative;
    
                        .cart-link {
                            color: $white-color;    
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 50px;
                            height: 51px;
                            text-decoration: none;
    
                            .fas {
                                font-size: 1.8rem;
                                cursor: default;
                            }
        
                            #total-items {
                                position: absolute;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                bottom: 0;
                                right: 0;
                                background-color: $red-color;
                                width: 1.5rem;
                                height: 1.5rem;
                                border-radius: 50%;
                                font-size: 1rem;
                                font-weight: 900;
                            }
                        }
    
                        .modal-cart-resume {
                            display: none;
                            // display: flex;
                            position: absolute;
                            width: 350px;
                            top: 51px;
                            right: -12px;
                            z-index: 99;
                            background-color: $white-color;
                            padding: 8px 10px;
                            flex-direction: column;
                            border: 1px solid $grey-light;
                            border-radius: 4px;
                            box-shadow: 0 0 8px rgba(0,0,0,0.4);
                            color: $primary-color;
                            text-transform: none;
                            font-size: 0.8rem;
    
                            &:after {
                                content: "";
                                position: absolute;
                                left: 309px;
                                top: -16px;
                                border: 8px solid transparent;
                                border-bottom: 8px solid white;
                                bottom: auto;      
                            }
    
                            .cart-row {
                                @include flex( 100%, row, flex-start, flex-start);
                                    position: relative;                    
                                    border-bottom: 1px solid $terciary-color;
                                    padding: 10px 0;                                
                
                                .left-wrapper{
                                    width: 50px;
                                    margin-right: 15px;
                                }
            
                                .center-wrapper {
                                    
                                    .cart-product-name{
                                        color: $red-color;
                                        font-size: 0.9rem;
                                    }
            
                                    .options-wrapper {
                                        @include flex( 100%, column, flex-start, flex-start);
                                        font-size: 0.6rem;
                                        font-weight: 100;
                                    }
                                }
            
                                .right-wrapper {
                                    position: absolute;
                                    right: 0;
                                    font-size: 1rem;
                                    font-weight: 600;
                                }
                            }
    
                            .cart-total-wrapper {
                                @include flex( 100%, row, space-between, center);
                                font-size: 1rem;
                                margin-top: 5px;

                                a{

                                    .btn-buy-modal {
                                        padding: 10px 15px;
                                    }
                                }

                                .cart-total {
                                    @include flex( auto, row, flex-end, center);

                                    span:first-child {
                                        font-size: 0.8rem;
                                        margin-right: 5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .secondary-wrapper {
                @include flex( 100%, row, center, center);
                background-color: $white-color;

                .navbar-collapse{
    
                    .navbar-nav {
                        width: 100%;

                        .nav-item {

                            .nav-link {
                                color: $primary-color;
                                border-radius: 0;
                                transition: 0.2s all ease;
                            }

                            .nav-link:hover {
                                background-color: $red-color-hover;
                                color: $white-color;
                            }
                        }

                        .nav-item.active {

                            .nav-link {
                                background-color: $red-color;
                                color: $white-color;
                            }
                        }
                    }
                }
            }            
        }    
    }
    /*
        END OF HEADER
    */

    /* 
        CONTENT
    */
    .content-wrapper {
        margin: 0;
        padding: 0;
        min-height: calc(100vh - 435px);

        /* 
            CONTENT SINGLE PAGE (HOME)
        */
        #carouselBanner {
    
            .carousel-inner{
    
                .carousel-item {
    
                    .carousel-caption{
                        top: 0;                
                        
                        .banner-text{
                            @include flex( 100%, column, flex-start, flex-start);
                            line-height: 1;
    
                            .banner-logo{
                                width: 50%;
                                margin-bottom: 25px;
                            }
    
                            .banner-subheader {
                                color: $red-color;
                                font-size: 2rem;
                            }
                
                            .banner-header {
                                color: $white-color;
                                font-size: 3rem;
                                margin-bottom: 15px;
                            }
                
                            .banner-btn {
                                font-size: 2rem;
                                text-decoration: none;
                                padding: 10px 30px;
                                box-sizing: border-box;
                                background-color: $red-color;
                                color: $white-color;
                                margin-left: 420px;
                            }
                        }
                    }
                }
            }
        }
    
        .main-container-home {
    
            .features {
    
                .list-features{
                    margin: 0;
                    padding: 0;
    
                    .items {
                        position: relative;
                        list-style: none;
                        padding: 0px;
                        
                        a {
    
                            .feature-top {
                                width: 100%;
                            }
    
                            .feature-bottom {
                                width: 100%;
                                position: absolute;
                                top: 0;
                                left: 0;
                                transition: 0.5s all ease;
                                cursor: pointer;
        
                                &:hover {
                                    opacity: 0; 
                                }
                            }
                        }
                    }
                }
            }
        }
        /* 
            END OF CONTENT SINGLE PAGE (HOME)
        */
    
        /*
            PAGE WITH SIDEBAR LEFT
        */
        .sidebar-left {
    
            .filter-text {
                border-bottom: 1px solid $grey-light;
                letter-spacing: 0.2rem;
                font-weight: 600;
                text-transform: uppercase;
            }        
        }
    
        .container-product {
            box-sizing: border-box;
            margin-top: 25px;
            margin-bottom: 25px;
            
            .card-deck {
                box-sizing: border-box;
    
                .card-wrapper {
                    padding: 25px;
                    box-sizing: border-box;
                    
    
                    .card-item {
                        position: relative;
                        padding: 5px;                    
                        background-color: $white-color;
                        border-radius: 5px;
                        -webkit-box-shadow: 0px 15px 28px -22px $black-color;
                        -moz-box-shadow: 0px 15px 28px -22px $black-color;
                        box-shadow: 0px 15px 28px -22px $black-color;
    
                        .card-title {
                            color: $black-color;
                            padding: 20px;
                            height: 135px;
                            box-sizing: content-box;
                            
                            .price-corner {
                                // position: absolute;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                font-weight: bolder;
                                font-size: 24px;
                            }
    
                            span {                            
                                font-size: 1rem;
                                font-weight: 100;
                            }
    
                            hr {
                                border: 0;
                                height: 3px;
                                width: 30px;
                                background-color: $red-color;
                                margin: 10px 0 40px;
    
                                &.hr-size {
                                    margin-bottom: 10px;
                                }
                            }
    
                            .size-group {
                                @include flex( 100%, row, flex-start, center);
                                margin-bottom: 30px;
                                padding: 0;
    
                                .size-group-item {
                                    list-style-type: none;
                                    padding: 5px 10px;
                                    width: 50px;
                                    margin-right: 3px;
                                    height: auto;
                                    border: 1px solid $black-color;
                                    text-align: center;
                                    font-size: 13px;
                                    color: $black-color;
                                }                            
                            }
                        }
    
                        .btn-card {
                            display: inline-block;
                            position: absolute;
                            bottom: -20px;
                            right: -10px;
                            color: $white-color;
                            text-align: center;
                            padding: 0.75em 1.5em;
                            white-space: nowrap;
                            border-radius: 5px;
                            background-color: $red-color;
                            border: none;
                            transition: all 0.2s ease;
                        }
    
                        .btn-card:hover {
                            background-color: $red-color-hover;
                        }
    
                        .btn-card:focus {
                            box-shadow: none;
                        }

                        .btn-stock {
                            display: inline-block;
                            position: absolute;
                            bottom: -20px;
                            right: -10px;
                            color: $white-color;
                            text-align: center;
                            padding: 0.75em 1.5em;
                            white-space: nowrap;
                            border-radius: 5px;
                            background-color: $secondary-color;
                            cursor: initial;
                            border: none;
                        }
                    }
                }
            }
        }
        /*
            END OF PAGE WITH SIDEBAR LEFT
        */
    
        /*
            SINGLE PRODUCT PAGE
        */
        .container-product-single {
            @include flex( 100%, row, flex-start, flex-start);
            padding: 25px 0;
    
            .image-wrapper {
                margin-right: 25px;
            }
    
            .details-wrapper {
    
                .title {
                    margin-bottom: 25px;
    
                    h1 {
                        margin: 0;
                    }
    
                    h2 {
                        font-size: 1rem;
                        color: $secondary-color;
                    }
    
                    span {
                        font-size: 0.8rem;
                        color: $secondary-color;
                    }
                }
    
                .price {
                    font-size: 2rem;
                    margin-bottom: 2rem;
                }            
    
                .size {
                    margin-bottom: 15px;
    
                    span {
                        color: $secondary-color;
                        font-size: 0.9rem;
                    }
    
                    .radio-button-wrapper {
                        display: flex;
    
                        .b-contain {
                            margin-right: 10px;
                            margin-bottom: 0;
    
                            span {
                                color: $primary-color;
                                font-size: 1rem;    
                            }
                        }
    
                        .size-message {
                            display: none;
                            position: relative;
                            font-size: .8rem;
                            margin-left: 15px;
                            padding: 2px 20px;
                            align-items: center;
                            justify-content: center;
                            background-color: $primary-color;
                            color: $white-color;
                            transition: all 1s ease;
                        }
    
                        .size-message:after{
                            content: '';
                            position: absolute;
                            width: 5px;
                            height: 5px;
                            left: -16px;
                            top: 4px;
                            background-color: transparent;
                            border: 8px solid transparent;
                            border-right: 8px solid $primary-color;
                            bottom: auto;
                        }
                    }
                    
                }
    
                .cart-wrapper {
                    @include flex( 100%, row, flex-start, center);
                    margin-bottom: 15px;
    
                    .quantity-wrapper {
                        margin-right: 10px;
    
                        .quantity-number{
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
    
                            #minus, #plus {
                                padding: 0 5px;
                                background-color: $primary-color;
                                color: $white-color;
                                border: 3px solid $primary-color;
                                width: 25px;
                                text-align: center;
                                cursor: pointer;
                                -moz-user-select: -moz-none;
                                -khtml-user-select: none;
                                -webkit-user-select: none;
                                -ms-user-select: none;
                                user-select: none;
                            }
    
                            #quantity {
                                width: 30px;
                                text-align: center;
                            }
        
                            input::-webkit-outer-spin-button,
                            input::-webkit-inner-spin-button {
                                -webkit-appearance: none;
                                margin: 0;
                            }
        
                            input[type=number] {
                                -moz-appearance: textfield;
                            }
    
                            .btn {
                                margin-left: 10px;
                            }
    
                            .btn:hover {
                                color: $white-color;
                                background-color: $red-color-hover;
                            }
                        }
                    }
    
                }

                .stock-wrapper {
                    margin-bottom: 25px;
                    color: $secondary-color;
                    font-size: 0.8rem;
                }
    
                .description {
    
                    h3 {
                        font-size: 1.5rem;
                        border-bottom: 1px solid $red-color;
                        padding-bottom: 1rem;
                    }
                }
            }
            
    
            .notifications-wrapper {
                @include flex( 600px, column, center, center);
                display: none;
                background-color: $white-color;
                height: 100px;
                position: fixed;
                bottom: 30px;
                left: 50%;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
                border: 1px solid $secondary-color;
                border-top: 5px solid $green-color;
                border-radius: 5px;
                animation-name: notificationsUp;
                animation-duration: 0.2s;
                z-index: 99999;
            }
    
        }
        /*
            END OF SINGLE PRODUCT PAGE
        */
    
        /*
            ORDER PRODUCT DETAIL PAGE
        */
        .container-order-details {
            padding: 10px;
            box-sizing: border-box;

            h2 {
                text-align: center;
                margin: 0;
                padding: 10px 0;
                background-color: $red-color;
                color: $white-color;
                border-radius: 5px 5px 0 0;
            }

            .order-wrapper {
                background-color: $white-color;
                padding: 15px;
                border-radius: 0 0 5px 5px;
    
                .table {
        
                    tbody {
        
                        tr{
        
                            td {
                                width: 100px;
        
                                .order-img {
                                    width: 60px;
                                    height: auto;
                                    border-radius: 5px;
                                }
                                
                                .fas {
                                    color: $red-color;
                                    font-size: 2rem;
                                }
                            }

                            .bg-total {
                                background-color: $secondary-color;
                            }
                        }
                    }
                }
            }
        }
        /*
            END OF ORDER PRODUCT DETAIL PAGE
        */

        /*
            ORDER PRODUCT AND DATA PAGE
        */
        .container-orders {            
            padding: 10px;
            box-sizing: border-box;

            h2 {
                text-align: center;
                margin: 0;
                padding: 10px 0;
                background-color: $red-color;
                color: $white-color;
                border-radius: 5px 5px 0 0;
            }

            .order-wrapper {
                background-color: $white-color;
                padding: 15px;
                border-radius: 0 0 5px 5px;

                .row {
                    margin-bottom: 20px;

                    .card {
                        -webkit-box-shadow: 0px 15px 28px -22px $black-color;
                        -moz-box-shadow: 0px 15px 28px -22px $black-color;
                        box-shadow: 0px 15px 28px -22px $black-color;
                        background-color: linen;

                        .card-wrapper {
                            @include flex( 100%, row, center, flex-start);

                            .card-left, .card-right {
                                @include flex( auto, column, center, flex-start);
                                text-align: left;
                            }

                            .card-body {
                                height: 75px;
                                width: 100%;
                            }
                        }

                        .btn-change-wrapper {
                            @include flex( auto, row, space-between, center);
                        }
                    }
                }
            }
        }
        /*
            END OF ORDER PRODUCT AND DATA PAGE
        */
        
    
        /*
            CART DETAIL PAGE
        */
        .container-cart {
            padding: 10px;
            
            h2 {
                text-align: center;
                margin: 0;
                padding: 10px 0;
                background-color: $red-color;
                color: $white-color;
                border-radius: 5px 5px 0 0;
            }
            
            .cart-wrapper{
                background-color: white;
                padding: 15px;
                margin-bottom: 15px;
                border-radius: 0 0 5px 5px;
                -webkit-box-shadow: 0px 15px 28px -22px $black-color;
                box-shadow: 0px 15px 28px -22px $black-color;
    
                .cart-empty {
                    padding: 10px 0;
                    border-bottom: 1px solid $terciary-color;
                }
    
                .cart-form {

                    &:first-child {
                        border-top: 1px solid $terciary-color;
                    }
                    
                    .cart-row{
                        @include flex( 100%, row, flex-start, flex-start);
                        position: relative;                    
                        border-bottom: 1px solid $terciary-color;
                        padding: 10px 0;
    
                        .left-wrapper{
                            width: 100px;
                            margin-right: 15px;
                        }
    
                        .center-wrapper {                            
                            @include flex( auto, column, center, flex-start);

                            .cart-product-id {
                                color: $secondary-color;
                                font-size: 0.7rem;
                                font-weight: 100;
                                font-style: italic;
                            }
                            
                            .cart-product-name{
                                color: $red-color;
                                font-size: 1.3rem;
                            }
    
                            .options-wrapper {
                                @include flex( 100%, column, flex-start, flex-start);
                                font-size: 0.8rem;
                                font-weight: 100;
                            }
    
                            .btn-cart-remove {
                                background-color: $terciary-color;
                                font-size: 0.7rem;
                                padding: 5px;
                                font-weight: 100;
                                position: absolute;
                                bottom: 15px;
                                color: $primary-color;
                            }
    
                            .btn-cart-remove:hover {
                                background-color: $secondary-color;
                                color: $white-color;
                            }
                        }
    
                        .right-wrapper {
                            position: absolute;
                            right: 0;
                            font-size: 1.2rem;
                            font-weight: 600;
                        }
                    }
                }
    
                .cart-buy {
                    @include flex( 100%, column, center, center);
                    margin-top: 5px;
                    
                    .cart-total{
                        @include flex( 100%, column, flex-end, flex-end);
    
                        .cart-total-sum {
                            @include flex( 100%, row, flex-end, center);
                        
                            span {
                                font-size: 1.3rem;
                            }
                            
                            span:first-child {
                                margin-right: 10px;
                            }
                        }
    
                        span {
                            font-size: 0.8rem;
                        }
                    }
    
                    .btn-buy-wrapper {
                        
                        .btn-buy {
                            font-size: 2rem;
                            text-transform: inherit;
                        }
                    }
                }
            }
        }
        /*
            END OF CART DETAIL PAGE
        */

        /*
            CHECKOUT PAGE
        */
        .container-checkout {
            padding: 10px;
            
            h2 {
                text-align: center;
                margin: 0;
                padding: 10px 0;
                background-color: $red-color;
                color: $white-color;
                border-radius: 5px 5px 0 0;
            }

            .checkout-wrapper {
                background-color: $white-color;
                padding: 15px;
                border-radius: 0 0 5px 5px;

                .order-wrapper {
                    @include flex( 100%, row, flex-start, flex-start);                
    
                    .checkout-empty {
                        padding: 10px 0;
                        border-bottom: 1px solid $terciary-color;
                        width: 100%;
                    }
    
                    .wrapper-left, .wrapper-right {
                        width: 50%;
                        margin: 0 15px;
                    }
    
                    .data-wrapper, .cart-wrapper {
                        border-radius: 5px;
                        
                        .inside-wrapper, .data-footer {
                            padding: 15px 35px;
                        }

                        &.new-address {
                            display: none;
                        }
    
                        .data-footer {
                            color: $secondary-color;
                            background-color: $grey-light;

                            .form-check {
                                margin: 0;
                            }
                        }
    
                        &:first-child, &:nth-child(2) {
                            margin-bottom: 20px;
                        }
    
                        h3 {
                            font-weight: 600;
                            font-size: 1.2rem;
                        }
                    }
    
                    .form-control {
                        background-color: rgb(244, 244, 244);
                        border-color: $grey-light;
    
                        &::placeholder {
                            color: $terciary-color;
                        }
                    }
    
                    .data-wrapper {
                        border: 1px solid $grey-light;
                        
                        .form-group {
                            margin-bottom: 0;
    
                            div {
                                @include flex( auto, row, center, center);
    
                                .form-control:first-child {
                                    margin-right: 5px;
                                }
    
                                .form-control:last-child {
                                    margin-left: 5px;
                                }
                            }
    
                            .form-control {
                                margin-bottom: 10px;
    
                                &:last-child {
                                    margin-bottom: none;
                                }
                            }
                        }

                        &.error-checkout {
                            text-align: center;
                        }
                    }
                    
                    .cart-wrapper {
                        background-color: $grey-light;
    
                        .title-wrapper, .product-wrapper, .total-wrapper {
                            @include flex( 100%, row, space-between, flex-start);
                            margin-bottom: 15px;
    
                            a {
                                text-decoration: underline;
                                color: $secondary-color;
    
                                &:hover {
                                    color: $red-color;
                                }
                            }
                        }
    
                        .product-wrapper {
                            color: $secondary-color;
    
                            .details-wrapper {
                                font-size: 0.9rem;
                            }
                        }
    
                        .total-wrapper {
                            border-top: 1px solid $terciary-color;
                            padding-top: 10px;                        
                            margin-bottom: 0;
    
                            .title-wrapper {
                                @include flex( auto, column, flex-start, flex-start);
                                margin: 0;
    
                                h3 {
                                    margin: 0;
                                }
    
                                span {
                                    font-size: 0.8rem;
                                }
                            }
    
                            .total-num {
                                font-weight: 600;
                            }
                        }
                    }
                }

                .btn-order-wrapper {
                    padding: 20px;
                    margin: 20px 20px 0 20px;
                    border-top: 1px solid $terciary-color;

                    .btn-order {
                        font-size: 2rem;
                        text-transform: initial;
                    }
                }
            }
        }
        /*
            ENF OF CHECKOUT PAGE
        */
        /* 
            CART SUCCESS MESSAGE PAGE
        */
        .container-cart-response {
            padding: 10px;
            text-align: center;
            
            h2 {
                text-align: center;
                margin: 0;
                padding: 10px 0;
                background-color: $red-color;
                color: $white-color;
                border-radius: 5px 5px 0 0;
            }

            .content-cart-wrapper {
                background-color: $white-color;
                padding: 15px;
                border-radius: 0 0 5px 5px;

                .principal-message {
                    font-size: 2rem;
                    font-weight: 800;
                    text-align: center;
                }

                .btn-wrapper {
                    margin-top: 10px
                }
            }
        }
        /* 
            END OF CART SUCCESS MESSAGE PAGE
        */
    }
    /*
        END OF CONTENT
    */

    /*
        FOOTER
    */
    .footer {
        @include flex( 100%, column, center, center);
        background-color: $primary-color;
        color: $white-color;
        padding: 0;

        .social {
            font-size: 2rem;
            color: $white-color;
            background-color: $red-color;
            width: 100%;
            padding: 1rem 0;

            .col {

                span {                    
                    padding-right: 1rem;
                }

                a {
                    color: $white-color;
                    padding-right: 1rem;
                    text-decoration: none;
                    transition: all 0.2s ease;
                }

                a:hover {
                    color: $secondary-color;
                }
            }
        }

        .info-footer {
            padding-top: 1rem;

            .col {

                span {
                    font-size: 1.2rem;
                }

                ul {
                    list-style: none;
                    padding: 0;

                    li {

                        .fas, span, a {
                            font-size: 0.8rem;
                            color: $secondary-color;
                        }

                        a, i, span{
                            text-decoration: none;
                            transition: all 0.2s ease;
                        }

                        a:hover {
                            color: $white-color;

                            i, span {
                                color: $white-color;
                            }
                        }
                    }
                }
            }
        }
    }
    /*
        END OF FOOTER
    */
}
/*
    END OF SHOP CSS
*/


/* 
    ANIMATIONS
*/
@keyframes notificationsUp {
    from {bottom: -130px;}
    to {bottom: 30px;}
}

@keyframes notificationsDown {
    from {bottom: 30px;}
    to {bottom: -130px;}
}

/* 
    GLOBAL CUSTOMS CSS 
*/
.btn-original {
    font-size: 0.8rem;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    box-sizing: border-box;
    background-color: $red-color;
    color: $white-color;
    text-transform: uppercase;
    transition: all 0.2s ease;
}

.btn-original:hover {
    background-color: $red-color-hover;
    color: $white-color;
}

.btn-original:focus {
    box-shadow: none;
}

/*
    FILTER DESIGN
*/
.b-contain *, .b-contain *::before, .b-contain *::after {
    box-sizing: content-box !important;
}

.b-contain input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.b-contain span {
    line-height: 1.54;
    font-size: 1rem;
    font-family: inherit;
}

.b-contain {
    display: flex;
    position: relative;
    padding-left: 1.8rem;
    cursor: pointer;
    margin-bottom: .5rem;
}

.b-contain input[type="checkbox"] ~ .b-input {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.25rem;
    width: 1.25rem;
    background: $white-color;
    transition: background 250ms;
    border: 1px solid $secondary-color;
    border-radius: 0.125rem;
}

.b-contain input[type="radio"] ~ .b-input {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.25rem;
    width: 1.25rem;
    background: $white-color;
    transition: background 250ms;
    border: 1px solid $secondary-color;
    border-radius: 2.0rem;
}

.b-contain input[type="checkbox"] ~ .b-input::after {
    content: '';
    position: absolute;
    display: none;
    left: .45rem;
    top: .18rem;
    width: .25rem;
    height: .6rem;
    border: solid $white-color;
    border-width: 0 2px 2px 0;
    transition: background 250ms;
    transform: rotate(45deg);
}

.b-contain input[type="radio"] ~ .b-input::after {
    content: '';
    position: absolute;
    display: none;
    left: .25rem;
    top: .25rem;
    width: .75rem;
    height: .75rem;
    border-radius: 2.0rem;
    background: $white-color;
    transition: background 250ms;
}

.b-contain input:checked ~ .b-input::after {
    display: block;
}

.b-contain:hover input ~ .b-input,
.b-contain input:focus ~ .b-input {
    background: $white-color;
}

.b-contain input:focus ~ .b-input {
    box-shadow: none;
}

.b-contain input:checked ~ .b-input {
    background: $red-color;
    border-color: $red-color;
}

.b-contain input:checked:focus ~ .b-input, .b-contain:hover input:not([disabled]):checked ~ .b-input {
    background: $red-color;
    border-color: $red-color;
}

.b-contain .b-input::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 3rem;
    height: 3rem;
    margin-left: -0.85rem;
    margin-top: -0.85rem;
    background: $red-color;
    border-radius: 2rem;
    opacity: .6;
    z-index: 99999;
    transform: scale(0);
}

@keyframes b-ripple {
    0% {
        transform: scale(0);
    }

    20% {
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1);
        }
}

@keyframes b-ripple-duplicate {
    0% {
        transform: scale(0);
    }

    30% {
        transform: scale(1);
    }

    60% {
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1);
        }
}

.b-contain input + .b-input::before {
    animation: b-ripple 250ms ease-out;
}

.b-contain input:checked + .b-input::before {
    animation-name: b-ripple-duplicate;
}

.b-contain .b-input::before {
    visibility: hidden;
}

.b-contain input:focus + .b-input::before {
    visibility: visible;
}

.b-contain:first-child .b-input::before {
    visibility: hidden;
}

/*
    END FILTER DESIGN
*/